<%= form_for(fullassessment) do |f| %>
  <% if fullassessment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fullassessment.errors.count, "error") %> prohibited this fullassessment from being saved:</h2>

      <ul>
      <% fullassessment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fassess %>
    <%= f.text_field :fassess %>
  </div>

  <div class="field">
    <%= f.label :client_id %>
    <%= f.text_field :client_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
