<p id="notice"><%= notice %></p>

<h1>Fullassessments</h1>

<table>
  <thead>
    <tr>
      <th>Fassess</th>
      <th>Client</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fullassessments.each do |fullassessment| %>
      <tr>
        <td><%= fullassessment.fassess %></td>
        <td><%= fullassessment.client %></td>
        <td><%= link_to 'Show', fullassessment %></td>
        <td><%= link_to 'Edit', edit_fullassessment_path(fullassessment) %></td>
        <td><%= link_to 'Destroy', fullassessment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fullassessment', new_fullassessment_path %>
