<p id="notice"><%= notice %></p>

<p>
  <strong>Fassess:</strong>
  <%= @fullassessment.fassess %>
</p>

<p>
  <strong>Client:</strong>
  <%= @fullassessment.client %>
</p>

<%= link_to 'Edit', edit_fullassessment_path(@fullassessment) %> |
<%= link_to 'Back', fullassessments_path %>
