<p id="notice"><%= notice %></p>

<h1>Progressnotes</h1>

<table>
  <thead>
    <tr>
      <th>Pnote</th>
      <th>Client</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @progressnotes.each do |progressnote| %>
      <tr>
        <td><%= progressnote.pnote %></td>
        <td><%= progressnote.client %></td>
        <td><%= link_to 'Show', progressnote %></td>
        <td><%= link_to 'Edit', edit_progressnote_path(progressnote) %></td>
        <td><%= link_to 'Destroy', progressnote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Progressnote', new_progressnote_path %>
