<p id="notice"><%= notice %></p>

<p>
  <strong>Pnote:</strong>
  <%= @progressnote.pnote %>
</p>

<p>
  <strong>Client:</strong>
  <%= @progressnote.client %>
</p>

<%= link_to 'Edit', edit_progressnote_path(@progressnote) %> |
<%= link_to 'Back', progressnotes_path %>
