<h1>Editing Client</h1>

<%= render 'form', client: @client %>

<%= link_to 'Show', @client %> |
<%= link_to 'Back', clients_path %>

<div id="mainwrapper"class="table-wrapper">
    <!--Content-->
<frame><%= render partial: 'pages/info' %></frame>

<frame><%= render partial: 'pages/nutritionaldata' %></frame>

<!-- CLIENT EDIT MODAL
  <div id="clienteditmodal" class="modal fade">
  <div class="modal-dialog">

          <div class="content-box box-shadow big-box todo-list">
              </div>

  </div>
</div>

-->
<!-- CLIENT EDIT MODAL END -->    

<!-- Main form -->
<!-- main form end -->
        <div class="col-lg-3">
          <div id="prueba"class="content-box big-box box-shadow">
             <h4><strong>Intake</strong></h4>
                  <div id='parentofselect' class="form-inline" onclick="intake()">
                  <select id="client_intakefrom" class="cs-select cs-skin-border">
                      <option value="" disabled>From</option>
                      <option value="100%">100%</option>
                      <option value="75%">75%</option>
                      <option value="50%">50%</option>
                      <option value="25%">25%</option>
                      <option value="0%">0%</option>
                      <option value="1">Refuse</option>
                    </select>
                    <select id="client_intaketo" class="cs-select cs-skin-border 1">
                      <option value="" disabled>To</option>
                      <option value="100%">100%</option>
                      <option value="75%">75%</option>
                      <option value="50%">50%</option>
                      <option value="25%">25%</option>
                      <option value="0%">0%</option>
                    </select>
                  </div>
                </div>
          </div>


        <div class="col-lg-3">
          <div class="content-box big-box box-shadow">
                    <div class="form-inline">
                    <h4><strong>Weight Goal</strong></h4>
                    <select id="goals" class="cs-select cs-skin-border" onclick="cal()">
                      <option value="" disabled>Goal</option>
                      <option id="gainwt" value="gainwt">Gain Weight</option>
                      <option value="maintainwt"  selected>Maintain Weight</option>
                      <option value="losewt">Lose Weight</option>
                    </select>
                  </div>
                <div class="checkbox checkbox-danger checkbox-big">
                  <input type="checkbox" id="checkbox1">
                  <label for="checkbox1">
                      Diabetes
                  </label>
                </div>
                <div class="checkbox checkbox-danger checkbox-big">
                  <input type="checkbox" id="checkbox2">
                  <label for="checkbox2">
                      Hypertension
                  </label>
                </div>
                <div class="checkbox checkbox-danger checkbox-big">
                  <input type="checkbox" id="checkbox3">
                  <label for="checkbox3">
                      Renal Issues
                  </label>
                </div>
          </div>
        </div>
    <!--FORM-->
  
<!-- FOOD NEAR ME PLUGIN
              <div class="form-group">
                <input type="string" id="location" class="form-control material input-lg", placeholder="Location" onchange="loc()">
              </div> 
              <div class="form-group">
                <input type="string" id="radius" class="form-control material input-lg", placeholder="How far from you?">
              </div>

              -->
<!-- FOOD SEARCH
              <div class="form-group">
                <input type="string" id="food" class="form-control material input-lg", placeholder="What are you craving?eg.Pizza,Burger, Pasta" onchange="zomato(), run()">
              </div>

            -->






<!-- FOOD SEARCH API-->
<!--
              <div class="content-box box-shadow ultra-widget">
                <div class="w-content big-box">
                  <div id="mealplan1">
                      
                    <div id="onefood" class="onefood">

                    </div>
                    <div onclick="run()" id="onefood1" class="onefood">
                      hello

                    </div>

<gcse:search onchange="shearch()"></gcse:search>
<gcse:searchresults-only></gcse:searchresults-only>

                    
                    



                  
   
                  </div>
                </div>
              </div>
            </div>




                </div>
              </div> -->
<!--ANTHROPOMETRICS-->
<!--TODO LIST-->

          <div class="col-lg-4 content-box box-shadow big-box todo-list">

            <div class="sort-todo">
              <a class="all-todo" href="#">All</a>
              <a class="active-todo" href="#">Active <span class="badge yellow-bg"></span></a>
              <a class="complete-todo" href="#">Complete <span class="badge red-bg"></span></a>
              <a class="archive-todo" href="#">Archive <span class="badge green-bg"></span></a>
            </div>

            <form id="add_todo" method="post">
              <div class="form-group add-todo">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-pencil green"></i></div>
                  <input type="text" class="form-control name-of-todo" placeholder="Write here your to do item">
                </div>
              </div>
            </form>

            <div class="panele">
              <div class="panel-body todo">
                <ul class="list-group">
                  <li class="list-group-item list-success">
                    <div class="checkbox">
                      <input type="checkbox" id="checkbox" />
                      <label for="checkbox">
                        Searches
                      </label>
                    </div>
                    <div class="pull-right action-btns">
                      <a class="archive"><span class="fa fa-archive"></span></a>
                      <a class="trash"><span class="fa fa-close"></span></a>
                    </div>
                  </li>
                  <li class="list-group-item  list-danger">
                    <div class="checkbox">
                      <input type="checkbox" id="checkbox2" />
                      <label for="checkbox2">
                        Marketing
                      </label>
                    </div>
                    <div class="pull-right action-btns">
                      <a class="archive"><span class="fa fa-archive"></span></a>
                      <a class="trash"><span class="fa fa-close"></span></a>
                    </div>
                  </li>
                  <li class="list-group-item  list-warning checked-todo">
                    <div class="checkbox">
                      <input type="checkbox" id="checkbox3" checked/>
                      <label for="checkbox3">
                        Links
                      </label>
                    </div>
                    <div class="pull-right action-btns">
                      <a class="archive"><span class="fa fa-archive"></span></a>
                      <a class="trash"><span class="fa fa-close"></span></a>
                    </div>
                  </li>
                  <li class="list-group-item  list-info">
                    <div class="checkbox">
                      <input type="checkbox" id="checkbox4" />
                      <label for="checkbox4">
                        E-mails
                      </label>
                    </div>
                    <div class="pull-right action-btns">
                      <a class="archive"><span class="fa fa-archive"></span></a>
                      <a class="trash"><span class="fa fa-close"></span></a>
                    </div>
                  </li>
                  <li class="list-group-item  list-danger">
                    <div class="checkbox">
                      <input type="checkbox" id="checkbox5" />
                      <label for="checkbox5">
                        Social Media
                      </label>
                    </div>
                    <div class="pull-right action-btns">
                      <a class="archive"><span class="fa fa-archive"></span></a>
                      <a class="trash"><span class="fa fa-close"></span></a>
                    </div>
                  </li>
                  <li class="list-group-item  list-primary">
                    <div class="checkbox">
                      <input type="checkbox" id="checkbox6" />
                      <label for="checkbox6">
                        Advertising
                      </label>
                    </div>
                    <div class="pull-right action-btns">
                      <a class="archive"><span class="fa fa-archive"></span></a>
                      <a class="trash"><span class="fa fa-close"></span></a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="checkbox clear-todo pull-left">
              <input type="checkbox" id="clear" />
              <label for="clear">
                Mark all as complete
              </label>
            </div>
            <button id="clear-comp" class="btn btn-warning waves text-uppercase pull-right">Clear Completed</button>


          </div>
      </div>
    </div>
  </div>
</div>
</body>

<script>
  
   $('#client_firstnamespan').html(jsona.responseJSON[selectedClient- 1450].firstname);
  $('#client_lastnamespan').html(jsona.responseJSON[selectedClient - 1450].lastname);
  $('#client_dobspan').html(jsona.responseJSON[selectedClient - 1450].dob);
  $('#client_genderspan').html(jsona.responseJSON[selectedClient - 1450].gender);
  $('#client_provider').val(jsona.responseJSON[selectedClient - 1450].user_id);
  $('#client_allergies').val(jsona.responseJSON[selectedClient - 1450].allergies);
  $('#client_dx').val(jsona.responseJSON[selectedClient - 1450].dx);
  $('#client_cdiet').val(jsona.responseJSON[selectedClient - 1450].cdiet);
  $('#client_ht').val(jsona.responseJSON[selectedClient - 1450].ht);
  $('#client_cbw').val(jsona.responseJSON[selectedClient - 1450].cbw);
  $('#client_date0').val(jsona.responseJSON[selectedClient - 1450].date0);
  $('#client_date1').val(jsona.responseJSON[selectedClient - 1450].date1);
  $('#client_date2').val(jsona.responseJSON[selectedClient - 1450].date2);
  $('#client_date3').val(jsona.responseJSON[selectedClient - 1450].date3);
  $('#client_thirtywt').val(jsona.responseJSON[selectedClient - 1450].thirtywt);
  $('#client_ninetywt').val(jsona.responseJSON[selectedClient - 1450].ninetywt);
  $('#client_oneeightywt').val(jsona.responseJSON[selectedClient - 1450].oneeightywt);
  $('#client_intakefrom').val(jsona.responseJSON[selectedClient - 1450].intakefrom);
  $('#client_intaketo').val(jsona.responseJSON[selectedClient - 1450].intaketo);
  $('#client_bmi').val(jsona.responseJSON[selectedClient - 1450].bmi);
  $('#client_ibw').val(jsona.responseJSON[selectedClient - 1450].ibw);
  $('#client_proreq').val(jsona.responseJSON[selectedClient - 1450].proreq);
  $('#client_flreq').val(jsona.responseJSON[selectedClient - 1450].flreq);
  $('#client_calreq').val(jsona.responseJSON[selectedClient - 1450].calreq);
  $('#client_fpes').val(jsona.responseJSON[selectedClient - 1450].fpes);
  $('#client_pes0').val(jsona.responseJSON[selectedClient - 1450].pes0);
  $('#client_pes1').val(jsona.responseJSON[selectedClient - 1450].pes1);
  $('#client_pes2').val(jsona.responseJSON[selectedClient - 1450].pes2);
  $('#landing').fadeOut()
  setTimeout(function() {
  NProgress.start();
  NProgress.done();
  $('#mainwrapper').toggleClass('table-wrapper1');
}, 1000);



</script>

</html>

