<%= form_for @Client, html: {class: "content-form form-inline"} do |f| %>
  <div class="field-container form-group">
    <%= f.text_field :firstname, type: "string", class: "inin form-control material input-lg", required: true%>
    <%= f.label :name, "First Name", class: "inlabel"%>
    
  </div>

  <div class="field-container form-group">
    <%= f.text_field :lastname, type: "string", class: "inin form-control material input-lg", required: true %>
    <%= f.label :name, "Last Name", class: "inlabel" %>
    
  </div>
  <div class="field-container form-group">
    <%= f.text_field :dob, type: "string", class: "inin form-control material input-lg", required: true %>
    <%= f.label :name, "Date of Birth", class: "inlabel" %>
  </div>
   <div class="field-container form-group">
    <%= f.text_field :gender, type: "string", class: "inin form-control material input-lg", required: true %>
    <%= f.label :name, "Gender", class: "inlabel" %>
    
  </div>
    <div class="field-container form-group">
    <%= f.text_field :provider, type: "string", class: "inin form-control material input-lg", required: true %>
    <%= f.label :name, "Provider", class: "inlabel" %>
  </div>

  <div class="field-container form-group">
    <%= f.text_field :allergies, type: "string", class: "inin form-control material input-lg", required: true %>
    <%= f.label :allergies, class: "inlabel" %>
    
  </div>

  <div class="field-container form-group">
    <%= f.text_field :cdiet, type: "string", class: "inin form-control material input-lg", required: true %>
    <%= f.label :cdiet, class: "inlabel" %>
    
  </div>

  <div class="field-container form-group">
    <%= f.text_field :dx, type: "string", class: "inin form-control material input-lg", required: true %>
    <%= f.label :dx, class: "inlabel" %>
    
  </div>

  <div class="field-container form-group">
    <%= f.number_field :ht, type: "string", class: "inin form-control material input-lg", required: true %>
    <%= f.label :ht, class: "inlabel" %>
    
  </div>

  <div class="field-container form-group">
    <%= f.number_field :cbw, type: "string", class: "inin form-control material input-lg", required: true %>
    <%= f.label :cbw, class: "inlabel" %>
    
  </div>

  <div class="field-container form-group">
    <%= f.text_field :date0, type: "string", class: "inin form-control material input-lg", required: true %>
    <%= f.label :date0, class: "inlabel" %>
    
  </div>

  <div class="field-container form-group">
    <%= f.number_field :thirtywt, type: "string", class: "inin form-control material input-lg", required: true %>
    <%= f.label :thirtywt, class: "inlabel" %>
    
  </div>

  <div class="field-container form-group">
    <%= f.number_field :ninetywt, type: "string", class: "inin form-control material input-lg", required: true %>
    <%= f.label :ninetywt, class: "inlabel" %>
    
  </div>

  <div class="field-container form-group">
    <%= f.number_field :oneeightywt, type: "string", class: "inin form-control material input-lg", required: true %>
    <%= f.label :oneeightywt, class: "inlabel" %>
    
  </div>

  <div class="field-container form-group">
    <%= f.text_field :date1, type: "string", class: "inin form-control material input-lg", required: true %>
    <%= f.label :date1, class: "inlabel" %>
    
  </div>

  <div class="field-container form-group">
    <%= f.text_field :date2, type: "string", class: "inin form-control material input-lg", required: true %>
    <%= f.label :date2, class: "inlabel" %>
    
  </div>

  <div class="field-container form-group">
    <%= f.text_field :date3, type: "string", class: "inin form-control material input-lg", required: true %>
    <%= f.label :date3, class: "inlabel" %>
    
  </div>

  <div class="field-container form-group">
    <%= f.number_field :intakefrom, type: "string", class: "inin form-control material input-lg", required: true %>
    <%= f.label :intakefrom, class: "inlabel" %>
    
  </div>

  <div class="field-container form-group">
    <%= f.number_field :intaketo, type: "string", class: "inin form-control material input-lg", required: true %>
    <%= f.label :intaketo, class: "inlabel" %>
    
  </div>

  <div class="field-container form-group">
    <%= f.text_field :bmi, type: "string", class: "inin form-control material input-lg", required: true %>
    <%= f.label :bmi, class: "inlabel" %>
    
  </div>

  <div class="field-container form-group">
    <%= f.number_field :ibw, type: "string", class: "inin form-control material input-lg", required: true %>
    <%= f.label :ibw, class: "inlabel" %>
    
  </div>

  <div class="field-container form-group">
    <%= f.number_field :calreq, type: "string", class: "inin form-control material input-lg", required: true %>
    <%= f.label :calreq, class: "inlabel" %>
    
  </div>

  <div class="field-container form-group">
    <%= f.number_field :proreq, type: "string", class: "inin form-control material input-lg", required: true %>
    <%= f.label :proreq, class: "inlabel" %>
    
  </div>

  <div class="field-container form-group">
    <%= f.number_field :flreq, type: "string", class: "inin form-control material input-lg", required: true %>
    <%= f.label :flreq, class: "inlabel" %>
    
  </div>

  <div class="field-container form-group">
    <%= f.text_field :fassess, type: "string", class: "inin form-control material input-lg", required: true %>
    <%= f.label :fassess, class: "inlabel" %>
    
  </div>

  <div class="field-container form-group">
    <%= f.text_field :fpes, type: "string", class: "inin form-control material input-lg", required: true %>
    <%= f.label :fpes, class: "inlabel" %>
    
  </div>

  <div class="field-container form-group">
    <%= f.text_field :pes0, type: "string", class: "inin form-control material input-lg", required: true %>
    <%= f.label :pes0, class: "inlabel" %>
    
  </div>

  <div class="field-container form-group">
    <%= f.text_field :pes1, type: "string", class: "inin form-control material input-lg", required: true %>
    <%= f.label :pes1, class: "inlabel" %>
    
  </div>

  <div class="field-container form-group">
    <%= f.text_field :pes2, type: "string", class: "inin form-control material input-lg", required: true %>
    <%= f.label :pes2, class: "inlabel" %>
    
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
