<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @client.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @client.lastname %>
</p>

<p>
  <strong>Allergies:</strong>
  <%= @client.allergies %>
</p>

<p>
  <strong>Cdiet:</strong>
  <%= @client.cdiet %>
</p>

<p>
  <strong>Dx:</strong>
  <%= @client.dx %>
</p>

<p>
  <strong>Ht:</strong>
  <%= @client.ht %>
</p>

<p>
  <strong>Cbw:</strong>
  <%= @client.cbw %>
</p>

<p>
  <strong>Date0:</strong>
  <%= @client.date0 %>
</p>

<p>
  <strong>Thirtywt:</strong>
  <%= @client.thirtywt %>
</p>

<p>
  <strong>Ninetywt:</strong>
  <%= @client.ninetywt %>
</p>

<p>
  <strong>Oneeightywt:</strong>
  <%= @client.oneeightywt %>
</p>

<p>
  <strong>Date1:</strong>
  <%= @client.date1 %>
</p>

<p>
  <strong>Date2:</strong>
  <%= @client.date2 %>
</p>

<p>
  <strong>Date3:</strong>
  <%= @client.date3 %>
</p>

<p>
  <strong>Intakefrom:</strong>
  <%= @client.intakefrom %>
</p>

<p>
  <strong>Intaketo:</strong>
  <%= @client.intaketo %>
</p>

<p>
  <strong>Bmi:</strong>
  <%= @client.bmi %>
</p>

<p>
  <strong>Ibw:</strong>
  <%= @client.ibw %>
</p>

<p>
  <strong>Calreq:</strong>
  <%= @client.calreq %>
</p>

<p>
  <strong>Proreq:</strong>
  <%= @client.proreq %>
</p>

<p>
  <strong>Flreq:</strong>
  <%= @client.flreq %>
</p>

<p>
  <strong>Fassess:</strong>
  <%= @client.fassess %>
</p>

<p>
  <strong>Fpes:</strong>
  <%= @client.fpes %>
</p>

<p>
  <strong>Pes0:</strong>
  <%= @client.pes0 %>
</p>

<p>
  <strong>Pes1:</strong>
  <%= @client.pes1 %>
</p>

<p>
  <strong>Pes2:</strong>
  <%= @client.pes2 %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
