<%= form_for(monitoringnote) do |f| %>
  <% if monitoringnote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(monitoringnote.errors.count, "error") %> prohibited this monitoringnote from being saved:</h2>

      <ul>
      <% monitoringnote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mnote %>
    <%= f.text_field :mnote %>
  </div>

  <div class="field">
    <%= f.label :client_id %>
    <%= f.text_field :client_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
