
<ul id="gn-menu" class="gn-menu-main animated fadeIn" style="z-index: 1200">
  <% if current_user %>
  <li class="gn-trigger">
    <a id="menu-toggle" class="menu-toggle gn-icon gn-icon-menu">
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="cross">
        <span></span>
        <span></span>
      </div>
    </a>
    <nav class="gn-menu-wrapper">
      <div class="gn-scroller">
        <ul class="gn-menu metismenu">
        <li>
          <a id="assessmentTool" aria-expanded="false"><i class="fa fa-language"></i>Assess<span class="fa arrow"></span></a>
        </li>
        <li>
          <a id="clientsfrommenu" aria-expanded="false"><i class="fa fa-user"></i>Clients<span class="label label-info pull-right"><%= Client.where(user_id: current_user.id).count%></span></a>
        </li>
        <li>
          <a type="button"id="historyfrommenu" aria-expanded="false"><i class="fa fa-history"></i>History<span class="fa arrow"></span></a>
        </li>
        <li>
            <a id="calendarFromMenu"aria-expanded="false"><i class="fa fa-calendar-o"></i>Calendar<span class="fa arrow"></span></a>
              </li>
        </div>

        <!-- /gn-scroller -->
      </nav>
    </li>
    <% else %>
    <% end %>
    <li class="pull-left">
      <a href="" class="logo">DIETITIAN.HELP<i class="fa fa-heartbeat"></i></a>
    </li>
    <li class="top-clock">
      <span class="current-time"></span>
    </li>
        </li>
        <li class="pull-right">
      <ul class="nav navbar-right right-menu">
        <div class="empty"></div>
          <% if !current_user %>
          <li class="form-inline">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {class: "animated fadeInUp"}) do |f| %>
          <%= devise_error_messages! %>
            <%= f.text_field :username, class: "form-control material", placeholder: "Username", id: "login", type: "text", autofocus: true%>
            <%= f.password_field :password, class: "form-control material", placeholder: "Password", id: "password", type: "password", autocomplete: "off"%>
          <div class="btn text-uppercase waves waves-effect waves-float" style="background-color: #374b89;margin-left: 10px">
            <%= f.submit "Sign in", name:"submit", style:"border:none;background: transparent;text-transform:uppercase;color: #FFFFFF"%>
          </div>
          <div class="btn btn-warning text-uppercase waves waves-effect waves-float">
          <button id="registerBtn" style="border:none;background:transparent;text-transform:uppercase">Register</button>
        </div>
          <% end %>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {class: "animated fadeInUp", :id => "sign_up_user", :style => "display: none"},
          :remote => true ) do |f| %>
          <%= devise_error_messages! %>
            <%= f.text_field :username, class: "input-container form-control material", placeholder: "Username", id: "login", type: "text", autofocus: true%>
            <%= f.password_field :password, class: "input-container form-control material", placeholder: "Password", id: "password", type: "password", autocomplete: "off"%>
            <%= f.password_field :password_confirmation, class: "input-container form-control material", placeholder: "Password Confirmation", id: "passwordconfirm", autocomplete: "off" %>
          <div class="btn btn-warning text-uppercase waves waves-effect waves-float">
            <%= f.submit "Register", name:"submit", style:"border:none;background:transparent;text-transform:uppercase"%>
          </div>
          <div class="btn btn-success text-uppercase waves waves-effect waves-float" style="background-color: #374b89;margin-left: 10px">
          <button id="logInBtn" style="border:none;background:transparent;background-color: transparent !important;text-transform:uppercase">Log In</button>
        </div>
        </li>
          <% end %>
          <% else %>
          <li class="">
          <a id="searchHeaderIcon">
            <i class="fa fa-search"></i>
          </a>
        </li>
        <li class="">
          <a href='users/sign_out' class='logo' rel="nofollow" data-method="delete" data-confirm="Are you sure?">
            <i class="fa fa-toggle-on"></i>
          </a>
        </li>
          <% end %>
      </ul>
    </li>
  </ul>
  <!-- Modal Search -->
  <!-- Modal Wt History-->
  <!-- JAVASCRIPT BEGINS -->
  <script>
  var hist =
  $('#clientsfrommenu').click(function(){
  $.ajax({
  url: "clients",
  type: 'GET',
  success: function(data){ $(document)[0].getElementById('clientload').contentDocument.getElementById('clientloadright').innerHTML = data;
  window.removee();}
  });
  })
  // ONCLICK CALENDAR HEADER
  $('#calendarFromMenu').click(function(){
  top.processingView();
  top.$('#clientload').fadeOut()
  top.$('#clientload').attr('src', '/calendar')
  })
  $('#searchHeaderIcon').click(function() {
  top.$('#landing').iziModal('open');
  });
$('#registerBtn').click(function(e){
  e.preventDefault();
  $('#new_user').hide('fast');
  $('#sign_up_user').show('fast');
})
$('#logInBtn').click(function(e){
  e.preventDefault();
  $('#new_user').show('fast');
  $('#sign_up_user').hide('fast');
})
$('#assessmentTool').click(function() {
  $('#clientload').fadeOut()
})
  </script>
  <!-- JAVASCRIPT ENDS-->