<!-- Identifying info -->
<div class="col-lg-3">
  <div id="infoContainer" class="content-box profile-sidebar box-shadow">
    <div class="profile-usertitle">
      <div class="profile-usertitle-name">
        <div class="field-container form-group">
          <%= form_for @client, html: {class: "content-form", id: "updateClientInfo", style: "display: none;"} do |f| %>
          <div>
            <%= f.text_field :firstname, type: "string", class: "inin form-control material input-lg", id: "hiddenfirstnameinfo", required: true %>
            <%= f.label :firstname, 'First Name', class: "inlabel" %>
          </div>
          <div class="field-container form-group">
            <%= f.text_field :lastname, type: "string", class: "inin form-control material input-lg", id: "hiddenlastnameinfo", required: true %>
            <%= f.label :lastname, 'Last Name', class: "inlabel" %>
          </div>
          <div class="field-container form-group">
            <%= f.text_field :dob, type: "string", class: "inin form-control material input-lg", id: "hiddendobinfo", required: true %>
            <%= f.label :dob, 'Date of Birth', class: "inlabel" %>
          </div>
          <div class="field-container form-group">
            <%= f.text_field :gender, type: "string", class: "inin form-control material input-lg", id: "hiddengenderinfo", required: true %>
            <%= f.label :gender, 'Gender', class: "inlabel" %>
          </div>
          <%= f.submit 'Save', class: "actions btn waves waves-effect waves-float", id: "saveClientInfoBtn", style: "background: #5F9EA0; color: #FFFFFF;"%>
          <% end %>
          </div>
          <div id="spanInfoDiv" style="">
            <div class="profile-usertitle-name">
            <span id="client_firstnamespan" style="font-size:28px;font-weight:150;float:left"><%= @client.firstname.capitalize %></span>
            <div style="float:left">&nbsp;</div>
            <span id="client_lastnamespan" style="float:left;font-size:28px;font-weight:150;"><%= @client.lastname.capitalize %></span><br>
          </div>
            <div id="client_dobspan" class="profile-usertitle-job">
              <%= @client.dob %>
            </div>
            <div id="client_genderspan" class="profile-usertitle-job">
              <%= @client.gender %>
            </div>
          </div>
          </div>
        <div class="">
          <button id="clienteditbut" type="button" class="btn waves waves-effect waves-float" data-fadeToggle="modal" data-target="#clienteditmodal" style="background: #374B89; color: #FFFFFF;">Edit</button>
          <button id="clientCancelEditBtn" type="button" class="btn waves waves-effect waves-float" data-fadeToggle="modal" data-target="#clienteditmodal" style="background: #374B89; color: #FFFFFF;display: none">Cancel</button>
        </div>
        <div>
        <div id="currentHealthParams" class="profile-usermenu" style="display: block">
          <ul class="nav">
            <li class="" style="display: inline-block; float: left;margin-right: 40px">
              <span  id="bmispanin" class="green" style="font-size:30px"><%= @client.bmi %></span>
              <span class="emptygray" style="font-size:12px">kg/m2</span>
            </li>
            <li style="display: inline-block;float: right;margin-left: 20px">
                <span id="calrequirement" class="black" style="font-size:30px;"><%= @client.calreq %></span>
                <span class="emptygray" style="font-size:12px;">cal/day</span>
            </li>
            <li class="" style="display: inline-block; float: left;margin-right: 60px">
                <span id="ibwspanin" class="black" style="font-size:30px"><%= @client.ibw %></span>
                <span class="emptygray" style="font-size:12px">lbs</span>
            </li>
            <li style="display: inline-block;float: right;margin-left: 60px">
                <span  id="prorequirement" class="black" style="font-size:30px;"><%= @client.proreq %></span>
                <span class="emptygray" style="font-size:12px">g/day</span>
            </li>
            <li class="" style="display: inline-block; float: left;margin-right: 40px">
              <span id="percentibw" class="yellow" style="font-size:30px">90</span>
              <span class="emptygray" style="font-size:12px">%ibw</span>
            </li>
            <li style="display: inline-block;float: right;margin-left: 20px">
                <span id="flrequirement" class="black" style="font-size:30px;"><%= @client.flreq %></span>
                <span class="emptygray" style="font-size:12px">oz/day</span>
            </li>
          </ul>
        </div>
        </div>
      <!--WEIGHT HISTORY-->
    </div>
  </div>
<!-- GOALS -->
  <div class="content-box box-shadow big-box todo-list">
            <div class="sort-todo">
              <a class="all-todo" href="#">All</a>
              <a class="active-todo" href="#">Active <span class="badge yellow-bg"></span></a>
              <a class="complete-todo" href="#">Complete <span class="badge red-bg"></span></a>
              <a class="archive-todo" href="#">Archive <span class="badge green-bg"></span></a>
            </div>

            <form id="add_todo" method="post">
              <div class="form-group add-todo">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-pencil green"></i></div>
                  <input type="text" class="form-control name-of-todo" placeholder="Write Goals">
                </div>
              </div>
            </form>

            <div class="">
              <div class="panel-body todo">
                <ul class="list-group" style="margin: 0px">
                </ul>
              </div>
            </div>
            <div class="checkbox clear-todo">
              <input type="checkbox" id="clear"></input>
              <label for="clear">
                Mark all as complete
              </label>
            </div>
            <button id="clear-comp" class="btn btn-warning waves text-uppercase">Clear Completed</button>


          </div>
</div>
  <!--Scripts-->
  <%= javascript_include_tag 'jquery.min' %>
  <%= javascript_include_tag 'jquery-ui.min' %>
  <%= javascript_include_tag 'jquery.bootstrap.wizard' %>
  <%= javascript_include_tag 'jquery.flot' %>
  <%= javascript_include_tag 'jquery.flot.resize' %>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'metisMenu.min' %>
  <%= javascript_include_tag 'waves.min' %>
  <%= javascript_include_tag 'moment.min' %>
  <%= javascript_include_tag 'modernizr.custom' %>
  <%= javascript_include_tag 'jquery.mCustomScrollbar' %>
  <%= javascript_include_tag 'cta.min' %>
  <%= javascript_include_tag 'typed' %>
  <%= javascript_include_tag 'ion.rangeSlider' %>
  
  <!--Menu-->
  <%= javascript_include_tag 'classie' %>
  <!--Selects-->
  <%= javascript_include_tag 'selectFx' %>
  <!--Flot-->
  <%= javascript_include_tag 'jquery.flot' %>
  <%= javascript_include_tag 'jquery.flot.resize' %>
  <%= javascript_include_tag 'curvedLines' %>
  <%= javascript_include_tag 'jquery.flot.orderBars' %>
      <!-- AJAXFORM-->
    <%= javascript_include_tag 'jquery.form.min.js' %> 
  <!--Custom Flot Charts-->
  <%= javascript_include_tag 'Chart' %>
  <!--C3.js-->
  <%= javascript_include_tag 'd3.min' %>
  <%= javascript_include_tag 'c3.min' %>
  <!--EasyPieChart-->
  <%= javascript_include_tag 'jquery.easypiechart.min' %>
  <!--Zabuto Calendar-->
  <%= javascript_include_tag 'zabuto_calendar.min' %>
  <!--Simple Weather-->
  <%= javascript_include_tag 'jquery.simpleWeather.min' %>
  <!-- DATA TABLES-->
  <%= javascript_include_tag 'jquery.dataTables' %>
  <%= javascript_include_tag 'dataTables.responsive' %>
  <%= javascript_include_tag 'dataTables.tableTools' %>
  <!--Custom Scriptssasa-->
  <%= javascript_include_tag 'pikaday' %>
  <%= javascript_include_tag 'pikaday.jquery' %>
  <%= javascript_include_tag 'example' %>
  <!--Notification-->
  <%= javascript_include_tag 'jsface' %>
  <%= javascript_include_tag 'snap.svg-min' %>
  <%= javascript_include_tag 'sweetalert.min' %>
  <%= javascript_include_tag 'smoke.min' %>
  <%= javascript_include_tag 'notificationFx' %>
  <!--AUTOCOMPLETE PLUGINS -->
  <%= javascript_include_tag 'standalone/selectize' %>
  <!-- MODAL EFFECTS -->
  <%= javascript_include_tag 'cssParser' %>
  <%= javascript_include_tag 'modalEffects' %>
  <!-- MASKED INPUT TO MATCH DATE, PHONE NUMBERS, ETC...-->
    <%= javascript_include_tag 'jquery.maskedinput' %> 
  
  <script>
  ///////
  //SPAN TO INPUT FOR CLIENT INFO UPDATE
  //////
  $('#clienteditbut').click(function() {
  $('#updateClientInfo').fadeToggle('fast')
  $('#spanInfoDiv').fadeToggle('fast')
  $('#clienteditbut').fadeToggle('fast')
  $('#clientCancelEditBtn').fadeToggle('fast')
  $('#currentHealthParams').fadeToggle('fast')
  })
  $('#clientCancelEditBtn').click(function() {
  $('#updateClientInfo').fadeToggle('fast')
  $('#clientCancelEditBtn').fadeToggle('fast')
  $('#clienteditbut').fadeToggle('fast')
  $('#spanInfoDiv').fadeToggle('fast')
  $('#currentHealthParams').fadeToggle('fast')
  })
  $('#updateClientInfo').ajaxForm({
    success: function() {
  $('#updateClientInfo').fadeToggle('fast');
  $('#spanInfoDiv').fadeToggle('fast');
    $('#client_firstnamespan').html($('#hiddenfirstnameinfo').val());
      $('#client_lastnamespan').html($('#hiddenlastnameinfo').val());
      $('#client_dobspan').html($('#hiddendobinfo').val());
      $('#client_genderspan').html($('#hiddengenderinfo').val());
      $('#clientCancelEditBtn').fadeToggle('fast')
      $('#clienteditbut').fadeToggle('fast')
      $('#currentHealthParams').fadeToggle('fast')
      return true
  }
  });
  $("#hiddendobinfo").mask("99/99/9999",{placeholder:"mm/dd/yyyy"});
  $("#hiddendobinfo").pikaday();
  // TODO LIST SCRIPT
  $(function () {
      $(".todo ul").sortable();

      $("#add_todo").on('submit', function (e) {
        e.preventDefault();

        var $toDo = $(this).find('.name-of-todo'),
          toDo_name = $toDo.val(),
          border = ['list-success', 'list-primary', 'list-warning', 'list-danger', 'list-info'],
          randomClass = border[Math.floor(Math.random() * border.length)];


        if (toDo_name.length >= 3) {

          var newid = "new" + "" + Math.random().toString(36).substring(11);
          // Create Event Entry
          $(".todo ul").append(
            '<li id="' + 'item-' + newid + '" class="list-group-item  ' + randomClass + ' list-item"><div class="checkbox"><input type="checkbox" id="' + newid + '" /><label for="' + newid + '">' + toDo_name + '</label></div><div class="pull-right action-btns"><a class="archive"><span class="fa fa-archive"></span></a><a class="trash"><span class="fa fa-close"></span></a></div></li>'
          );
          count();



          var eventObject = {
            title: $.trim($("#" + newid).text()),
            className: $("#" + newid).attr("data-bg"), // use the element's text as the event title
            stick: true
          };

          // store the Event Object in the DOM element so we can get to it later
          $("#" + newid).data('eventObject', eventObject);

          // Reset input
          $toDo.val('').focus();
        } else {
          $toDo.focus();
        }
      });

      //Checking items
      $(document).on('mouseover', '.list-group .checkbox', function () {
        $('.list-group input:checkbox').each(function () {
          $(this).change(function () {
            if ($(this).is(":checked")) {
              $(this).closest(".list-group-item").addClass("checked-todo").removeClass("list-item");
            } else {
              $(this).closest(".list-group-item").removeClass("checked-todo");
            }

            count();
          });
        });
      });

      //Check archive items
      $(document).on('click', '.action-btns .archive', function (e) {
        $(this).closest(".list-group-item").removeClass("checked-todo list-item").addClass("archive-item").hide();
        e.preventDefault();
        count();
      });

      count();


      $(".list-group-item").addClass("list-item");

      $('.list-group li').each(function () {
        if ($(this).hasClass("checked-todo")) {
          $(this).removeClass("list-item");
        };
      });

      //Show all items
      $('.all-todo').click(function (e) {
        $('.archive-item').hide();
        $('.checked-todo, .list-item').show();
        e.preventDefault();
      });

      //Show only active items
      $('.active-todo').click(function (e) {
        $('.checked-todo').hide();
        $('.archive-item').hide();
        $('.list-item').show();
        e.preventDefault();
      });

      //Show only completed items
      $('.complete-todo').click(function (e) {
        $('.list-item').hide();
        $('.archive-item').hide();
        $('.checked-todo').show();
        e.preventDefault();
      });

      //Show only archive items
      $('.archive-todo').click(function (e) {
        $('.list-item').hide();
        $('.checked-todo').hide();
        $('.archive-item').show();
        e.preventDefault();
      });

      //Mark all as complete
      $('#clear').change(function () {
        if ($(this).is(":checked")) {
          $(".list-group-item").addClass("checked-todo").removeClass("list-item");
          $("input:checkbox").prop('checked', $(this).prop("checked"));
        } else {
          $(".list-group-item").removeClass("checked-todo").addClass("list-item");
          $("input:checkbox").prop('checked', $(this).prop("checked"));
        }
        count();
      });

      //Remove all completed items
      $('#clear-comp').click(function () {
        var clearedComp = $('.checked-todo').remove();
        count();
      });

      //Remove one completed item
      $(document).on('click', '.trash', function (e) {
        var clearedCompItem = $(this).closest(".list-group-item").remove();
        e.preventDefault();
        count();
      });

      //Count items
      function count() {
        var checked = $('.checked-todo').length,

          archive = $('.archive-item').length,
          all = $('.list-group-item').length - archive,
          active = all - checked;

        $('.complete-todo span').text(checked);
        $('.active-todo span').text(active);
        $('.archive-todo span').text(archive);
      };

    });
  </script>