    <!-- Identifying info -->
    <div class="col-lg-3">
          <div class="content-box profile-sidebar box-shadow">
            <div class="profile-usertitle">
              <div class="profile-usertitle-name">
                <span id="client_firstnamespan" style="font-size:28px;font-weight:150;float:left">Carlos</span><div style="float:left">&nbsp;</div><span id="client_lastnamespan" style="float:left;font-size:28px;font-weight:150;">Almonte</span>
              </div>
              <div id="client_dobspan" class="profile-usertitle-job">
                1990-05-04
              </div>
              <div id="client_genderspan" class="profile-usertitle-job">
                Jhonny
              </div>
            </div>

            <div class="profile-userbuttons">
              <button id="clienteditbut"href="/client" type="button" class="btn btn-danger waves waves-effect waves-float">Edit</button>
            </div>
            <div class="profile-usermenu">
              <ul class="nav">
                <li id="bmiresult"class="" style="display: inline-block">
                  <span  id="bmispanin" class="green" style="font-size:30px">21.2</span>
                  <span class="emptygray" style="font-size:12px">kg/m2</span>
                </li>
                <li class="" data-counter="0" style="display:inline-block;float:right">
                  <span id="calrequirement" class="red" style="font-size:30px">492</span>
                    <span class="emptygray" style="font-size:12px">cal/day</span>
                </li>
                <li class="" data-counter="0" style="display: inline-block;padding-right:20px">
                    <span id="ibw" class="yellow" style="font-size:30px">142</span>
                    <span class="emptygray" style="font-size:12px">lbs</span>
                </li>
                <li class="" data-counter="0" style="display:inline-block;float:right">
                    <span  id="prorequirement" class="green" style="font-size:30px">20</span>
                    <span class="emptygray" style="font-size:12px">g/day</span>
                </li>
                <br>
                <li class="" data-counter="0" style="display: inline-block">
                  <span id="percentibw" class="yellow" style="font-size:30px">90</span>
                    <span class="emptygray" style="font-size:12px">%ibw</span>
                </li>
                <li class="" data-counter="0" style="display:inline-block;float:right">
                    <span id="flrequirement" class="yellow" style="font-size:30px">1500</span>
                    <span class="emptygray" style="font-size:12px">oz/day</span>
                </li>
              </ul>
            </div>
          </div>
          <!--WEIGHT HISTORY-->
              <div class="content-box">
                <div class="content-title big-box i-block">
                  <h4 class="zero-m">Weight History</h4>
                  <div class="content-tools i-block pull-right">
                    <span class="text-uppercase pull-right">Plot data</span>
                    <a id="expanding", class="repeat-btn", onclick="setTimeout(rchart0, 500)">
                      <i class="fa fa-repeat"></i>
                    </a>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="big-box">
                  <div class="chartjs-container">
                    <canvas id="chart-line" height="254" width="635" style="width: 635px; height: 254px;"></canvas>
                  </div>
                </div>
              </div>
        </div>













<!--
  <%= form_for (Client.new), html: {class: "content-form form-inline"} do |f| %>

  <div class="field-container form-group">
    <%= f.text_field :firstname, type: "string", class: "inin form-control material input-lg", required: true%>
    <%= f.label :name, "First Name", class: "inlabel"%>
    
  </div>

  <div class="field-container form-group">
    <%= f.text_field :lastname, type: "string", class: "inin form-control material input-lg", required: true %>
    <%= f.label :name, "Last Name", class: "inlabel" %>
    
  </div>
  <div class="field-container form-group">
    <%= f.text_field :dob, type: "string", class: "inin form-control material input-lg", required: true , onchange: "getAge()"%>
    <%= f.label :name, "Date of Birth", class: "inlabel"%>
  </div>
    <div class="field-container form-group">
    <%= f.text_field :provider, type: "string", class: "inin form-control material input-lg", required: true %>
    <%= f.label :name, "Provider", class: "inlabel" %>
  </div>

  <div class="field-container form-group">
    <%= f.text_field :allergies, type: "string", class: "inin form-control material input-lg", required: true %>
    <%= f.label :allergies, class: "inlabel" %>
    
  </div>
  <% end %>
            <br>
          </div>
        </div>
          <!--Identifying info end-->
