<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no" />

  <title>DIETITIAN.HELP | Dashboard</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <%= stylesheet_link_tag 'ion.rangeSlider' %>
  <%= stylesheet_link_tag 'selectize' %>
  <%= stylesheet_link_tag 'jquery.dataTables' %>
  <!--[if IE 8]><script src="js/es5.js"></script><![endif]-->


  <%= favicon_link_tag 'favicon.ico' %>


  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  <!--[if lt IE 9]>
      <script src="bower_components/html5shiv/dist/html5shiv.min.js"></script>
      <script src="bower_components/respondJs/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div id="preloader" class="preloader table-wrapper" style="background: white;">
    <div class="table-row">
      <div id='contente'>
  <div id='visiblee'>
    <p>
    </p>
    <ul>
      <li >_Gather.</li>
      <li >_Assess.</li>
      <li>_Comply.</li>
      <li>_Done.</li>
    </ul>
  </div>
</div>
    </div>
  </div>
<script>
////////////
//REMOVES ALERT GAP FROM DEVISE BETWEEN HEADER AND BODY
///////////
    
  $('.notice').attr('class', '');
  $('.alert').attr('class', '');
</script>


<frame><%= render partial: 'pages/landing' %></frame>
<div id="mainwrapper"class="table-wrapper1">
<frame><%= render partial: 'pages/header' %></frame>

    <!--Content-->
<frame><%= render partial: 'pages/info' %></frame>

<frame><%= render partial: 'pages/nutritionaldata' %></frame>
<!-- Main form -->
<!-- main form end -->
        <div class="col-lg-3">
          <div class="content-box big-box box-shadow">
             <h4><strong>Intake</strong></h4>
                  <div id='parentofselect' class="form-inline" onclick="intake()">
                  <select id="client_intakefrom" class="cs-select cs-skin-border">
                      <option value="" disabled>From</option>
                      <option value="100%">100%</option>
                      <option value="75%">75%</option>
                      <option value="50%">50%</option>
                      <option value="25%">25%</option>
                      <option value="0%">0%</option>
                      <option value="1">Refuse</option>
                    </select>
                    <select id="client_intaketo" class="cs-select cs-skin-border 1">
                      <option value="" disabled>To</option>
                      <option value="100%">100%</option>
                      <option value="75%">75%</option>
                      <option value="50%">50%</option>
                      <option value="25%">25%</option>
                      <option value="0%">0%</option>
                    </select>
                  </div>
                </div>
          </div>


        <div class="col-lg-3">
          <div class="content-box big-box box-shadow">
                    <div class="form-inline">
                    <h4><strong>Weight Goal</strong></h4>
                    <select id="goals" class="cs-select cs-skin-border" onclick="cal()">
                      <option value="" disabled>Goal</option>
                      <option id="gainwt" value="gainwt">Gain Weight</option>
                      <option value="maintainwt"  selected>Maintain Weight</option>
                      <option value="losewt">Lose Weight</option>
                    </select>
                  </div>
                <div class="checkbox checkbox-danger checkbox-big">
                  <input type="checkbox" id="checkbox1">
                  <label for="checkbox1">
                      Diabetes
                  </label>
                </div>
                <div class="checkbox checkbox-danger checkbox-big">
                  <input type="checkbox" id="checkbox2">
                  <label for="checkbox2">
                      Hypertension
                  </label>
                </div>
                <div class="checkbox checkbox-danger checkbox-big">
                  <input type="checkbox" id="checkbox3">
                  <label for="checkbox3">
                      Renal Issues
                  </label>
                </div>
          </div>
        </div>
    <!--FORM-->
  
<!-- FOOD NEAR ME PLUGIN
              <div class="form-group">
                <input type="string" id="location" class="form-control material input-lg", placeholder="Location" onchange="loc()">
              </div> 
              <div class="form-group">
                <input type="string" id="radius" class="form-control material input-lg", placeholder="How far from you?">
              </div>

              -->
<!-- FOOD SEARCH
              <div class="form-group">
                <input type="string" id="food" class="form-control material input-lg", placeholder="What are you craving?eg.Pizza,Burger, Pasta" onchange="zomato(), run()">
              </div>

            -->






<!-- FOOD SEARCH API-->
<!--
              <div class="content-box box-shadow ultra-widget">
                <div class="w-content big-box">
                  <div id="mealplan1">
                      
                    <div id="onefood" class="onefood">

                    </div>
                    <div onclick="run()" id="onefood1" class="onefood">
                      hello

                    </div>

<gcse:search onchange="shearch()"></gcse:search>
<gcse:searchresults-only></gcse:searchresults-only>

                    
                    



                  
   
                  </div>
                </div>
              </div>
            </div>




                </div>
              </div> -->
<!--ANTHROPOMETRICS-->
<!--TODO LIST-->

          <div class="col-lg-4 content-box box-shadow big-box todo-list">

            <div class="sort-todo">
              <a class="all-todo" href="#">All</a>
              <a class="active-todo" href="#">Active <span class="badge yellow-bg"></span></a>
              <a class="complete-todo" href="#">Complete <span class="badge red-bg"></span></a>
              <a class="archive-todo" href="#">Archive <span class="badge green-bg"></span></a>
            </div>

            <form id="add_todo" method="post">
              <div class="form-group add-todo">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-pencil green"></i></div>
                  <input type="text" class="form-control name-of-todo" placeholder="Write here your to do item">
                </div>
              </div>
            </form>

            <div class="panele">
              <div class="panel-body todo">
                <ul class="list-group">
                  <li class="list-group-item list-success">
                    <div class="checkbox">
                      <input type="checkbox" id="checkbox" />
                      <label for="checkbox">
                        Searches
                      </label>
                    </div>
                    <div class="pull-right action-btns">
                      <a class="archive"><span class="fa fa-archive"></span></a>
                      <a class="trash"><span class="fa fa-close"></span></a>
                    </div>
                  </li>
                  <li class="list-group-item  list-danger">
                    <div class="checkbox">
                      <input type="checkbox" id="checkbox2" />
                      <label for="checkbox2">
                        Marketing
                      </label>
                    </div>
                    <div class="pull-right action-btns">
                      <a class="archive"><span class="fa fa-archive"></span></a>
                      <a class="trash"><span class="fa fa-close"></span></a>
                    </div>
                  </li>
                  <li class="list-group-item  list-warning checked-todo">
                    <div class="checkbox">
                      <input type="checkbox" id="checkbox3" checked/>
                      <label for="checkbox3">
                        Links
                      </label>
                    </div>
                    <div class="pull-right action-btns">
                      <a class="archive"><span class="fa fa-archive"></span></a>
                      <a class="trash"><span class="fa fa-close"></span></a>
                    </div>
                  </li>
                  <li class="list-group-item  list-info">
                    <div class="checkbox">
                      <input type="checkbox" id="checkbox4" />
                      <label for="checkbox4">
                        E-mails
                      </label>
                    </div>
                    <div class="pull-right action-btns">
                      <a class="archive"><span class="fa fa-archive"></span></a>
                      <a class="trash"><span class="fa fa-close"></span></a>
                    </div>
                  </li>
                  <li class="list-group-item  list-danger">
                    <div class="checkbox">
                      <input type="checkbox" id="checkbox5" />
                      <label for="checkbox5">
                        Social Media
                      </label>
                    </div>
                    <div class="pull-right action-btns">
                      <a class="archive"><span class="fa fa-archive"></span></a>
                      <a class="trash"><span class="fa fa-close"></span></a>
                    </div>
                  </li>
                  <li class="list-group-item  list-primary">
                    <div class="checkbox">
                      <input type="checkbox" id="checkbox6" />
                      <label for="checkbox6">
                        Advertising
                      </label>
                    </div>
                    <div class="pull-right action-btns">
                      <a class="archive"><span class="fa fa-archive"></span></a>
                      <a class="trash"><span class="fa fa-close"></span></a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="checkbox clear-todo pull-left">
              <input type="checkbox" id="clear" />
              <label for="clear">
                Mark all as complete
              </label>
            </div>
            <button id="clear-comp" class="btn btn-warning waves text-uppercase pull-right">Clear Completed</button>


          </div>
      </div>
    </div>
  </div>
</div>




    <!--Scripts-->
<%= javascript_include_tag 'jquery.min' %>
<%= javascript_include_tag 'jquery-ui.min' %>
<%= javascript_include_tag 'jquery.bootstrap.wizard' %>
<%= javascript_include_tag 'jquery.flot' %>
<%= javascript_include_tag 'jquery.flot.resize' %>
<%= javascript_include_tag 'bootstrap.min' %>
<%= javascript_include_tag 'metisMenu.min' %>
<%= javascript_include_tag 'waves.min' %>
<%= javascript_include_tag 'moment.min' %>
<%= javascript_include_tag 'modernizr.custom' %>
<%= javascript_include_tag 'jquery.mCustomScrollbar' %>
<%= javascript_include_tag 'cta.min' %>
<%= javascript_include_tag 'typed' %>
<%= javascript_include_tag 'ion.rangeSlider' %>


  
  <!--Menu-->

  <%= javascript_include_tag 'classie' %>
  <%= javascript_include_tag 'gnmenu' %>


  <!--Selects-->

  <%= javascript_include_tag 'selectFx' %>

  <%= javascript_include_tag 'p5' %>


  <!--Flot-->

  <%= javascript_include_tag 'jquery.flot' %>
  <%= javascript_include_tag 'jquery.flot.resize' %>
  <%= javascript_include_tag 'curvedLines' %>
  <%= javascript_include_tag 'jquery.flot.orderBars' %>

  <!--Custom Flot Charts-->

  <%= javascript_include_tag 'Chart' %>
  <%= javascript_include_tag 'line-chart-1' %>
  <%= javascript_include_tag 'line-chart-2' %>
  <%= javascript_include_tag 'line-chart-3' %>
  <%= javascript_include_tag 'bar-chart' %>

  <!--C3.js-->

  <%= javascript_include_tag 'd3.min' %>
  <%= javascript_include_tag 'c3.min' %>


  <!--EasyPieChart-->
 <%= javascript_include_tag 'jquery.easypiechart.min' %>

  <!--Zabuto Calendar-->

  <%= javascript_include_tag 'zabuto_calendar.min' %>


  <!--Simple Weather-->

  <%= javascript_include_tag 'jquery.simpleWeather.min' %>



<!-- DATA TABLES-->
<%= javascript_include_tag 'jquery.dataTables' %>
<%= javascript_include_tag 'dataTables.responsive' %>
<%= javascript_include_tag 'dataTables.tableTools' %>

    <!--Custom Scriptssasa-->

<%= javascript_include_tag 'common' %>
<%= javascript_include_tag 'pikaday' %>
<%= javascript_include_tag 'pikaday.jquery' %>
<%= javascript_include_tag 'example' %>


  <!--Notification-->
<%= javascript_include_tag 'jsface' %>
<%= javascript_include_tag 'snap.svg-min' %>
<%= javascript_include_tag 'sweetalert.min' %>
<%= javascript_include_tag 'smoke.min' %>
<%= javascript_include_tag 'notificationFx' %>

<!--AUTOCOMPLETE PLUGINS -->
<%= javascript_include_tag 'standalone/selectize' %>


<!-- DO NOT TOUCH WITHOUT REVIEWING -->

  <script>

//DATATABLE FUNCTION TO LIMIT AMOUNT OF RESULTS DISPLAYED

    $(function () {
      //Data Tables
      $('#datatable1').DataTable({
        displayLength: 25,
        dom: 'T<"clear">lfrtip',
        tableTools: {
          "sSwfPath": "assets/copy_csv_xls_pdf.swf"
        },
        responsive: true
      });
    });
  




  var ctx2 = document.getElementById("chart-line").getContext("2d");
  var myLine = new Chart(ctx2).Line(lineChartData, {
          responsive: true
      });
  var parent = document.getElementById("assessment")
    $(function () {



      /*c3.js*/ // NEEDED FOR THE CHART
      var chart = c3.generate({
        bindto: '#reg-history',
        size: {
          height: 90
        },
        data: {
          columns: [
            ['New users', 30, 35, 45, 33, 48, 54, 41, 66, 49, 43, 38, 46]
          ]
        },
        legend: {
          show: false
        },
        color: {
          pattern: ['#fff']
        },
        point: {
          r: 3
        },
        axis: {
          x: {
            show: false
          },
          y: {
            show: false
          }
        }
      });
            // show the notification
 



      //Tooltips for Flot Charts
      if ($(".flot-chart")[0]) {
        $(".flot-chart").bind("plothover", function (event, pos, item) {
          if (item) {
          var x = item.datapoint[0].toFixed(2),
            y = item.datapoint[1].toFixed(2);

          $(".flot-tooltip").html(x + " of " + y)
            .css({top: item.pageY+5, left: item.pageX+5})
            .fadeIn(200);
        } else {
          $(".flot-tooltip").hide();
        }
        });

        $("<div class='flot-tooltip'></div>").appendTo("body");
      }
    });
  </script>

  <!-- Food list API-->



  <!-- Equation can be simplified into two variables -->
<script>


$(document).ready(function(){
    $(document).ajaxStart(function(){
        $("#wait").css("display", "block");
    });
    $(document).ajaxComplete(function(){
        $("#wait").css("display", "none");
    });
    $("button").click(function(){
        $("#txt").load("demo_ajax_load.asp");
    });
    $('#select-beast-head-selectized').css({opacity: 1, position: 'absolute', left: 0, width: '100%', paddingTop: '10px', paddingLeft: '9px'});
    $('#select-beast-modal-selectized').css({opacity: 1, position: 'absolute', left: 0, width: '100%', paddingTop: '10px', paddingLeft: '9px'});
    $('#select-beast-landsearch-selectized').css({opacity: 1, position: 'absolute', left: 0, width: '100%', paddingTop: '10px', paddingLeft: '9px'});
    $('.selectize-dropdown-content').attr('id', 'landsearch-dropdown');
    if(selectedClient == null) {
    $('#landing').css('visibility', 'visible');
                                    }
  if(selectedClient > 0) {
    $('#landing').css('visibility', 'hidden');
                                }

});

var food1;
var lat;
var lng;
var d1;
var parsed;
var ager;
var date = new Date();
function getAge(d1, d2){
    var d1 = document.getElementById('client_dobspan').innerHTML;
    var d2 = new Date();
    var diff = d2.getTime() - parseDate($('#client_dobspan').text()).getTime();
    ager = Math.floor(diff / (1000 * 60 * 60 * 24 * 365.25
));$(function(){
    $("#agespan").typed({
      strings: [ager.toString()],
      typeSpeed: 50
    });
  });

};

// parse a date in yyyy-mm-dd format
function parseDate(input) {
  var parts = input.match(/(\d+)/g);
  // new Date(year, month [, date [, hours[, minutes[, seconds[, ms]]]]])
  return new Date(parts[0], parts[1]-1, parts[2]); // months are 0-based
}

function loc() { 

  var base = 'http://maps.googleapis.com/maps/api/geocode/json?address=';
  var food = document.getElementById("location").value;
  var url = base + food;
    $.getJSON(url, function(data) {
      lat = data.results[0].geometry.location.lat;
      lng = data.results[0].geometry.location.lng;
    console.log(data)      
    });

};


function zomato() {

  document.getElementById("onefood").innerHTML = ''
  var base = 'https://developers.zomato.com/api/v2.1/search?apikey=8d0401fb02d07321de28693fa2a18355&'
  var food = 'q=' + document.getElementById("food").value;
  var radius = document.getElementById("radius").value;
  var location = '&lat=' + lat + '&lon=' + lng;
  var url = base + food + location + radius;
    $.getJSON(url, function(data) 
                {
        for(var i = 0; i < data.restaurants.length; i++) {
    var obj = data.restaurants[i].restaurant;

      document.getElementById("onefood").innerHTML += '<span class="text-uppercase w-name emptygray">' + i  + ' ' + obj.name + '</span><br>'; 
          

          }
                  
                  });
  };
function adime() {
  $('#assessadime').html('yeah')
  $('#dxadime').html('yeah')
  $('#intadime').html('yeah')
  $('#monevadime').html('yeah')

}
function run() {

  document.getElementById("onefood1").innerHTML = ''
  var base = 'http://api.nal.usda.gov/ndb/search/?format=json&'
  var food = 'q=' + document.getElementById("food").value;
  var url = base + food + '&sort=r&ds=Standard Reference&max=8&offset=0&api_key=Dd2cDdK3zCP6teHFkZk06XRTq4bgC1kMo3NPnLxm'
    $.getJSON(url, function(data) {
    //data is the JSON string\

    for(var i = 0; i < data.list.item.length; i++) {
    var obj = data.list.item[i];

      document.getElementById("onefood1").innerHTML += '<span class="text-uppercase w-name emptygray">' + i  + ' ' + obj.name + '</span><br>'; 
          
        function run1() {
          document.getElementById("onefood1").innerHTML = ''
          var base1 = 'http://api.nal.usda.gov/ndb/reports/?ndbno='
          var food1 = obj.ndbno
          var url1 = base1 + food1 + '&type=b&format=json&api_key=Dd2cDdK3zCP6teHFkZk06XRTq4bgC1kMo3NPnLxm'
          $.getJSON(url1, function(data1) {
              console.log(data1.report.food.nutrients[1].value)
              document.getElementById("onefood1").innerHTML += data1.report.food.nutrients[1].value + '<br>'
                  });
                          };


          }

});
}; 
 




</script>
  <%= javascript_include_tag 'datedropper' %>
  <%= javascript_include_tag 'nprogress' %>
  <%= javascript_include_tag 'medical' %>

<script>
var selectedClient;
////////
//DATABASE TO JSON
////////

var jsona = $.getJSON('http://localhost:3000/clients', function(data) {  return JSON.stringify(data)});
    //data is the JSON string







//////////////////////////////////////////////////
//AUTOCOMPLETE FROM CLIENTS DATABASE BEGINS
/////////////////////////////////////////////////
$('.gn-search').selectize({
    theme: 'links',
    maxItems: 1,
    preload: false,
    valueField: 'id',
    searchField: ['lastname', 'firstname'],
    options: [],
    create: true,
    updatePlaceholder: true,
    render: {
        option: function(data, escape) {
            return '<div class="item">' + escape(data.firstname) + ' ' + escape(data.lastname) + ' ' +
                '</div>';
        },
        item: function(data, escape) {
            return '<div class="item">' + escape(data.firstname) + ' ' + escape(data.lastname) + ' ' + 
                '</div>';
        }
    },
    load: function(query, callback) {
        if (!query.length) return callback();
        $.ajax({
            url: 'https://dietitianhelp.herokuapp.com/clients',
            type: 'GET',
            dataType: 'json',
            data: {
                q: query,
            },
            error: function() {
                callback();
            },
            success: function(res) {
                console.log(res);
                callback(res);
            $('#select-beast-landsearch-selectized').keyup(function() {

                 if($('#landsearch-dropdown:first-child div').attr('class') == 'create') {
                    $('#landsearchicon').attr('class','fa fa-search fa-stack-1x fa-inverse');
                 }
                 if($('#landsearch-dropdown:first-child div').attr('class') == 'create active') {
                    $('#landsearchicon').attr('class','fa fa-stack-1x fa-inverse fa-user-plus');
                 }
                
  });
    
    },
  });
      },
onChange() { 

if ($('#select-beast-modal:first-child').val() == "" && $('#select-beast-head:first-child').val() == "" && $('#select-beast-landsearch:first-child').val() == "") {
    return
};
if ($('#select-beast-landsearch:first-child').val() > 0 || jQuery.type($('#select-beast-landsearch:first-child').val()) == "string") {
  $('#select-beast-modal:first-child').html($('#select-beast-landsearch:first-child').val());
};
if ($('#select-beast-head:first-child').val() > 0) {
  $('#select-beast-modal:first-child').val($('#select-beast-head:first-child').val());
};
  selectedClient = parseInt($('#select-beast-modal:first-child').html());

//////////
// PLOT DATA IF CLIENT EXIST
/////////

  if(jQuery.isNumeric(selectedClient)) {
    
  $('#client_firstnamespan').html(jsona.responseJSON[selectedClient- 1450].firstname);
  $('#client_lastnamespan').html(jsona.responseJSON[selectedClient - 1450].lastname);
  $('#client_dobspan').html(jsona.responseJSON[selectedClient - 1450].dob);
  $('#client_genderspan').html(jsona.responseJSON[selectedClient - 1450].gender);
  $('#client_provider').val(jsona.responseJSON[selectedClient - 1450].provider);
  $('#client_allergies').val(jsona.responseJSON[selectedClient - 1450].allergies);
  $('#client_dx').val(jsona.responseJSON[selectedClient - 1450].dx);
  $('#client_cdiet').val(jsona.responseJSON[selectedClient - 1450].cdiet);
  $('#client_ht').val(jsona.responseJSON[selectedClient - 1450].ht);
  $('#client_cbw').val(jsona.responseJSON[selectedClient - 1450].cbw);
  $('#client_date0').val(jsona.responseJSON[selectedClient - 1450].date0);
  $('#client_date1').val(jsona.responseJSON[selectedClient - 1450].date1);
  $('#client_date2').val(jsona.responseJSON[selectedClient - 1450].date2);
  $('#client_date3').val(jsona.responseJSON[selectedClient - 1450].date3);
  $('#client_thirtywt').val(jsona.responseJSON[selectedClient - 1450].thirtywt);
  $('#client_ninetywt').val(jsona.responseJSON[selectedClient - 1450].ninetywt);
  $('#client_oneeightywt').val(jsona.responseJSON[selectedClient - 1450].oneeightywt);
  $('#client_intakefrom').val(jsona.responseJSON[selectedClient - 1450].intakefrom);
  $('#client_intaketo').val(jsona.responseJSON[selectedClient - 1450].intaketo);
  $('#client_bmi').val(jsona.responseJSON[selectedClient - 1450].bmi);
  $('#client_ibw').val(jsona.responseJSON[selectedClient - 1450].ibw);
  $('#client_proreq').val(jsona.responseJSON[selectedClient - 1450].proreq);
  $('#client_flreq').val(jsona.responseJSON[selectedClient - 1450].flreq);
  $('#client_calreq').val(jsona.responseJSON[selectedClient - 1450].calreq);
  $('#client_fassess').val(jsona.responseJSON[selectedClient - 1450].fassess);
  $('#client_fpes').val(jsona.responseJSON[selectedClient - 1450].fpes);
  $('#client_pes0').val(jsona.responseJSON[selectedClient - 1450].pes0);
  $('#client_pes1').val(jsona.responseJSON[selectedClient - 1450].pes1);
  $('#client_pes2').val(jsona.responseJSON[selectedClient - 1450].pes2);
  $('#landing').fadeOut()
  setTimeout(function() {
  NProgress.start();
  NProgress.done();
  $('#mainwrapper').toggleClass('table-wrapper1');
  $('#clienteditbut').onClick('href', '/client/' + selectedClient + '/edit')
}, 1000);
};

/////////////
// SAVE NEW CLIENT IN DATABASE WHEN NOT FOUND BY SELECTIZE
/////////////

},
});
/////
// CHANGES SEARCH ICON IN LANDSEARCH TO PLUS WHEN CLIENT NOT FOUND
/////

//////////////////////////////////////////////////
//AUTOCOMPLETE FROM CLIENTS DATABASE END
/////////////////////////////////////////////////
//////////////////////////////////////////////////
//AUTOCOMPLETE FORM ELEMENTS, PREPOPULATED OPTIONS FOR Dx's BEGINS
/////////////////////////////////////////////////
$('#client_dx').selectize({
    maxItems: null,
    valueField: 'abbrev',
    labelField: 'abbrev',
    searchField: ['commonName', 'medicalName', 'abbrev'],
    preload: focus,
    options: [
        {id: 1, commonName: 'high blood pressure', medicalName: 'Hypertension', abbrev: 'HTN', url: 'ce'},
        {id: 2, commonName: 'Diabetes Type 1', medicalName: 'Diabetes Mellitus', abbrev: 'DM1', url: 'ce'},
        {id: 3, commonName: 'Hypothyroidism', medicalName: 'Hypothyroidism', abbrev: 'HypoThy', url: 'ce'},
        {id: 4, commonName: 'Chronic Kidney Disease', medicalName: 'Chronic Kidney Disease', abbrev: 'CKD', url: 'ce'},
    ],
    create: false
});


  // jquery transit is used to handle the animation
   $('#client_dx-selectized').focusin(function() {
        $( "#dxlabel" ).animate({
  opacity: 1,
  top:'-17px',
  left: '-14px',
  fontsize: '14px',
  color: '#999999',

});
//setTimeout needed for Chrome, for some reson there is no animation from left to right, the pen is immediately present. Slight delay to adding the animation class fixes it

    
    });
      
      $('#client_dx-selectized').blur(function() {

        if($('#client_dx').val() == "") {
          

          $('#dxlabel').animate({
  position: 'absolute',
  pointerevents:'none',
  top: '1px',
  left:'-9px',
  fontsize: '16px',
  opacity:1,
  backgroundcolor: 'rgba(0, 0, 0, 0)',
  padding: '23px 9px',
  webkittransition: '0.15s ease-in-out',
  transition: '0.15s ease-in-out'}); }
          else return

      });
//////////////////////////////////////////////////
//AUTOCOMPLETE FORM ELEMENTS, PREPOPULATED OPTIONS BEGINS
/////////////////////////////////////////////////
</script>

<script>



$('.inin').prop('required',true);


$('#client_date0').pikaday({
        field: document.getElementById('date0'),
        format: 'M/D/YYYY',
        defaultDate: '1/23/2014',
        onStart: function ()
            {
                var date = new Date();
                this.setDate( date.getFullYear(), date.getMonth() + 1, date.getDate() )
            },
    });
$('#client_date1').pikaday({
        field: document.getElementById('date1'),
        format: 'M/D/YYYY',
        onSelect: function() {
            console.log(this.getMoment().format('YYYY, M, D'));
        }
    });
$('#client_date2').pikaday({
        field: document.getElementById('date2'),
        format: 'M/D/YYYY',
        onSelect: function() {
            console.log(this.getMoment().format('Do MMMM YYYY'));
        }
    });
$('#client_date3').pikaday({
        field: document.getElementById('date3'),
        format: 'M/D/YYYY',
        onSelect: function() {
            console.log(this.getMoment().format('Do MMMM YYYY'));
        }
    });
window.onload = function() {
  $('.selectize-dropdown').css('zIndex', '9999');

  document.getElementById('todaysdate').innerHTML = moment(new Date()).format('LL');

  };
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        this.nextElementSibling.classList.toggle("show");
  }
}


    $(function () {
      $(".todo ul").sortable();

      $("#add_todo").on('submit', function (e) {
        e.preventDefault();

        var $toDo = $(this).find('.name-of-todo'),
          toDo_name = $toDo.val(),
          border = ['list-success', 'list-primary', 'list-warning', 'list-danger', 'list-info'],
          randomClass = border[Math.floor(Math.random() * border.length)];


        if (toDo_name.length >= 3) {

          var newid = "new" + "" + Math.random().toString(36).substring(11);
          // Create Event Entry
          $(".todo ul").append(
            '<li id="' + 'item-' + newid + '" class="list-group-item  ' + randomClass + ' list-item"><div class="checkbox"><input type="checkbox" id="' + newid + '" /><label for="' + newid + '">' + toDo_name + '</label></div><div class="pull-right action-btns"><a class="archive"><span class="fa fa-archive"></span></a><a class="trash"><span class="fa fa-close"></span></a></div></li>'
          );
          count();



          var eventObject = {
            title: $.trim($("#" + newid).text()),
            className: $("#" + newid).attr("data-bg"), // use the element's text as the event title
            stick: true
          };

          // store the Event Object in the DOM element so we can get to it later
          $("#" + newid).data('eventObject', eventObject);

          // Reset input
          $toDo.val('').focus();
        } else {
          $toDo.focus();
        }
      });

      //Checking items
      $(document).on('mouseover', '.list-group .checkbox', function () {
        $('.list-group input:checkbox').each(function () {
          $(this).change(function () {
            if ($(this).is(":checked")) {
              $(this).closest(".list-group-item").addClass("checked-todo").removeClass("list-item");
            } else {
              $(this).closest(".list-group-item").removeClass("checked-todo");
            }

            count();
          });
        });
      });

      //Check archive items
      $(document).on('click', '.action-btns .archive', function (e) {
        $(this).closest(".list-group-item").removeClass("checked-todo list-item").addClass("archive-item").hide();
        e.preventDefault();
        count();
      });

      count();


      $(".list-group-item").addClass("list-item");

      $('.list-group li').each(function () {
        if ($(this).hasClass("checked-todo")) {
          $(this).removeClass("list-item");
        };
      });

      //Show all items
      $('.all-todo').click(function (e) {
        $('.archive-item').hide();
        $('.checked-todo, .list-item').show();
        e.preventDefault();
      });

      //Show only active items
      $('.active-todo').click(function (e) {
        $('.checked-todo').hide();
        $('.archive-item').hide();
        $('.list-item').show();
        e.preventDefault();
      });

      //Show only completed items
      $('.complete-todo').click(function (e) {
        $('.list-item').hide();
        $('.archive-item').hide();
        $('.checked-todo').show();
        e.preventDefault();
      });

      //Show only archive items
      $('.archive-todo').click(function (e) {
        $('.list-item').hide();
        $('.checked-todo').hide();
        $('.archive-item').show();
        e.preventDefault();
      });

      //Mark all as complete
      $('#clear').change(function () {
        if ($(this).is(":checked")) {
          $(".list-group-item").addClass("checked-todo").removeClass("list-item");
          $("input:checkbox").prop('checked', $(this).prop("checked"));
        } else {
          $(".list-group-item").removeClass("checked-todo").addClass("list-item");
          $("input:checkbox").prop('checked', $(this).prop("checked"));
        }
        count();
      });

      //Remove all completed items
      $('#clear-comp').click(function () {
        var clearedComp = $('.checked-todo').remove();
        count();
      });

      //Remove one completed item
      $(document).on('click', '.trash', function (e) {
        var clearedCompItem = $(this).closest(".list-group-item").remove();
        e.preventDefault();
        count();
      });

      //Count items
      function count() {
        var checked = $('.checked-todo').length,

          archive = $('.archive-item').length,
          all = $('.list-group-item').length - archive,
          active = all - checked;

        $('.complete-todo span').text(checked);
        $('.active-todo span').text(active);
        $('.archive-todo span').text(archive);
      };
    });

/* GENDER SCRIPT MIGHT BE ABLE TO DELETE AND/OR CONDENSE WTIH gender()
function checker() {

  $('#gendermspan').click(function() {$('#switch5').prop('checked', true);})
  $('#genderfspan').click(function() {$('#switch5').prop('checked', false);})
}

*/


// MEDICAL FAST EDITING

/*
 *
 *   DIETITIAN.HELP
 *   ALL RIGHTS RESERVED
 *
*/

function diet() {

  $("#cdietspan")[0].innerText = document.getElementById('client_cdiet').value;
  $(function(){
    $("#cdietspan").typed({
      strings: [document.getElementById('client_cdiet').value],
      typeSpeed: 4
    });
  });


};
  
function intake() {
  if($('#client_intakefrom')[0].value == 1){
    $("#client_intaketo")[0].parentElement.className = 'cs-select cs-skin-border cs-skin-borderdisabled';
    $("#intakefromspan")[0].innerHTML = 'Refuse';
    $("#intaketospan")[0].innerHTML = '';
  }
  else {
    $("#client_intaketo")[0].parentElement.className = 'cs-select cs-skin-border cs-active';
  $("#intakefromspan")[0].innerHTML = document.getElementById('client_intakefrom').value;
  $("#intaketospan")[0].innerHTML = '- ' + document.getElementById('client_intaketo').value;
        }
};

var genderval = 'male'
var ibwval;

/* GENDER SCRIPT!

function gender() {

      if(document.getElementById('switch5').checked) {
          genderval = 'female';
          $('#gendermspan').fadeOut(20, function(){
            $('#genderfspan').fadeIn(50);
          })};
      if(document.getElementById('switch5').checked == false) {
        genderval = 'male';
        $('#genderfspan').fadeOut(20, function(){
            $('#gendermspan').fadeIn(50);
          });}
};

*/
function ibw() { 

    document.getElementById("ibwmale").className = "blue"
    document.getElementById("ibwfemale").className = "red"
    var x = document.getElementById("client_ht").value;
    var y = x - 60 
    var z = y * 6 + 106
    document.getElementById("ibwmalespan").style.display = "none"
    document.getElementById("ibwfemalespan").style.display = "none"
    document.getElementById("loaderg").style.display = "block"
    document.getElementById("loaderg2").style.display = "block"

    var a = document.getElementById("client_ht").value;
    var b = x - 60
    var c = y * 5 + 105
   

    if(document.getElementById("client_ht").value.length == '') {
      widgetUsed("ibwmale", 0);
      widgetUsed("ibwfemale", 0);
      document.getElementById("ibwmalespan").style.display = "none"
      document.getElementById("ibwfemalespan").style.display = "none"
      document.getElementById("loaderg").style.display = "block"
      document.getElementById("loaderg2").style.display = "block"
      document.getElementById("ibwmale").className = "emptygray"
      document.getElementById("ibwfemale").className = "emptygray"
    }
    if(z > 0 && c > 0 ) {
      document.getElementById("ibwmalespan").style.display = "block"
      document.getElementById("ibwfemalespan").style.display = "inline"
      document.getElementById("loaderg").style.display = "none"
      document.getElementById("loaderg2").style.display = "none"
      document.getElementById("ibwmale").className = "blue"
      document.getElementById("ibwfemale").className = "red"
          }

      if(document.getElementById('switch4').checked) {
      widgetUsed(("ibwmale"), Math.floor(z /2.2));
      widgetUsed(("ibwfemale"), Math.round(c /2.2));
      document.getElementById("inkg").style.display = "block"
      document.getElementById("inlbs").style.display = "none"

}
      if(document.getElementById('switch4').checked == false) {
      widgetUsed(("ibwmale"), Math.floor(z));
      widgetUsed(("ibwfemale"), Math.round(c));
      document.getElementById("inkg").style.display = "none"
      document.getElementById("inlbs").style.display = "block"
}
    if(z < 0 && c < 0 ) {
      widgetUsed("ibwmale", 0);
      widgetUsed("ibwfemale", 0);
      document.getElementById("ibwmalespan").style.display = "none"
      document.getElementById("ibwfemalespan").style.display = "none"
      document.getElementById("loaderg").style.display = "block"
      document.getElementById("loaderg2").style.display = "block"
      document.getElementById("ibwmale").className = "emptygray"
      document.getElementById("ibwfemale").className = "emptygray"
    }
    if(document.getElementById('switch4').unchecked) {
      widgetUsed(("ibwmale"), Math.floor(z));
      widgetUsed(("ibwfemale"), Math.round(c /2.2));
}
    
    if(genderval == 'male'){
      ibwval = z;
    }
    if (genderval == 'female'){
      ibwval = c;
    }
    $("#percentibw")[0].innerHTML = Math.round(document.getElementById("client_cbw").value/ibwval * 100);
  };

function cal() { 
    var x = document.getElementById("client_cbw").value;
    var y = x/2.2
    var z = y * 30
    var goalselect = document.getElementById('goals');
    var goalselected = goalselect.options[goalselect.selectedIndex].innerHTML;
    $("#cbwspan").text(jsona.responseJSON[selectedClient - 1450].cbw)
    

    if(goalselected == 'Gain Weight') {
     widgetUsed("calrequirement", parseInt(z - z + 1 * y * 35));
        }

    if(goalselected == 'Maintain Weight') {
     widgetUsed("calrequirement", parseInt(z));
        }

    if(goalselected == 'Lose Weight') {
     widgetUsed("calrequirement", parseInt(z - z + 1 * y * 25));
        }
    }

function dx() {
$("#dxspan")[0].innerHTML = document.getElementById("client_dx").value;
  $(function(){
    $("#dxspan").typed({
      strings: [document.getElementById('client_dx').value],
      typeSpeed: 4
    });
  });

}
function bmi() { 
    var x = document.getElementById("client_cbw").value;
    var y = document.getElementById("client_ht").value;
    var z = x / y
    var a = z / y
    var b = a * 703


   if(document.getElementById("client_cbw").value.length < 1 || b > 50 ) {
      bmiused("bmispan", 0);
      bmiused("bmispanhead", 0);
      bmiused("bmispanin", 0);


    }

    if(b < 50 && b > 10) {
      $("#bmispan").innerHTML = b;
      $("#bmispanhead")[0].innerHTML = b.toFixed(1);
      bmiused("bmispan", b.toFixed(1));
      bmiused("bmispanin", b.toFixed(1));
      bmiused("bmispanhead", b.toFixed(1));
    }

    bmiused("bmispan", b.toFixed(1));
          };

function pro() { 
    var x = document.getElementById("client_cbw").value;
    var y = x/2.2
    var z = y * 1
    widgetUsed("prorequirement", Math.round(z));
} 
function fl() { 
    var x = document.getElementById("client_cbw").value;
    var y = x/2.2
    var z = y * 30
    widgetUsed("flrequirement", Math.round(z));
        }

function convert() {

  var a = document.getElementById("ibwmale").value / 2.2
  var b = document.getElementById("ibwfemale").value / 2.2
  widgetUsed(("ibwmale"), Math.floor(a));
  widgetUsed(("ibwfemale"), Math.round(b));

}



function rchart0 () {
 NProgress.start();
  //resets all parameters in assess

  var loss1;
  var loss2;
  var loss3;
  var gain1;
  var gain2;
  var gain3;

$("#loss1days")[0].innerHTML = ''
$("#loss2days")[0].innerHTML = ''
$("#loss3days")[0].innerHTML = ''
$("#gain1days")[0].innerHTML = ''
$("#gain2days")[0].innerHTML = ''
$("#gain3days")[0].innerHTML = ''

  myLine.datasets[1].points[3].value = document.getElementById("client_cbw").value;
  myLine.scale.xLabels[3] = document.getElementById("client_date0").value;
  myLine.datasets[1].points[2].value = document.getElementById("client_thirtywt").value;
  myLine.scale.xLabels[2] = document.getElementById("client_date1").value;
  myLine.datasets[1].points[1].value = document.getElementById("client_ninetywt").value;
  myLine.scale.xLabels[1] = document.getElementById("client_date2").value;
  myLine.datasets[1].points[0].value = document.getElementById("client_oneeightywt").value;
  myLine.scale.xLabels[0] = document.getElementById("client_date3").value;
  myLine.update();

  NProgress.inc();

  if(Math.floor(myLine.datasets[1].points[3].value / myLine.datasets[1].points[2].value * 100) <= 95) {
    loss1 = true

  }
  if(Math.ceil(myLine.datasets[1].points[3].value / myLine.datasets[1].points[2].value * 100) >= 105) {
    gain1 = true
  }
  
  if(Math.floor(myLine.datasets[1].points[3].value / myLine.datasets[1].points[1].value * 100) <= 92.5) {
    loss2 = true
  }
  if(Math.ceil(myLine.datasets[1].points[3].value / myLine.datasets[1].points[1].value * 1000) >= 1075) {
    gain2 = true

  }
  if(Math.floor(myLine.datasets[1].points[3].value / myLine.datasets[1].points[0].value * 100) <= 90) {
    loss3 = true

  }
  if(Math.ceil(myLine.datasets[1].points[3].value / myLine.datasets[1].points[0].value * 100) >= 110) {
    gain3 = true

  }

  NProgress.inc();

  if($('#wthistory').smkValidate({lang:'es'})){}

  if(loss1 == true || loss2 == true || loss3 == true){
    $("#losshist")[0].innerHTML = 'Significant Weight Loss for the past ';
    if(loss1 == true){
      $("#loss1days")[0].innerHTML = ' 30';
      if(loss2 == true || loss3 == true){
        $("#loss1days")[0].innerHTML = ' 30/'
      }
    }
    if(loss2 == true){
      $("#loss2days")[0].innerHTML = '90';
        if(loss3 == true){
        $("#loss2days")[0].innerHTML = '90/'
      }
    }
    if(loss3 == true){
      $("#loss3days")[0].innerHTML = '180';
    }
  }
  NProgress.inc();
  if(loss1 == true || loss2 == true || loss3 == true){
    $("#lossdays")[0].innerHTML = ' days'
    }
 if(gain1 == true || gain2 == true || gain3 == true){
    $("#gainhist")[0].innerHTML = 'Significant Weight Gain for the past ';
    if(gain1 == true){
      $("#gain1days")[0].innerHTML = ' 30';
      if(gain2 == true || gain3 == true){
        $("#gain1days")[0].innerHTML = ' 30/'
      }
    }
    if(gain2 == true){
      $("#gain2days")[0].innerHTML = '90';
        if(gain3 == true){
        $("#gain2days")[0].innerHTML = '90/'
      }
    }
    if(gain3 == true){
      $("#gain3days")[0].innerHTML = '180';
    }
  }
  if(gain1 == true || gain2 == true || gain3 == true){
    $("#gaindays")[0].innerHTML = ' days'
    }
  if((loss1 == true || loss2 == true || loss3 == true) && (gain1 == true || gain2 == true || gain3 == true)){
    $("#and")[0].innerHTML = ' and '
    }
    if(loss1 == true || loss2 == true || loss3 == true || gain1 == true || gain2 == true || gain3 == true) {
      $.smkAlert({ text: 'Significant Weight Change', type: 'danger', permanent: true });
    }
NProgress.done();
//setTimeout(noti, 1000);
};

function noti() {
  swal("Assessment Completed", "Modify as necessary", "success");

}

function chart0 () {

  if(document.getElementById("client_date0").value.length == '') {
      return;

    }
    
  myLine.datasets[1].points[3].value = document.getElementById("client_cbw").value;

  if (myLine.datasets[1].points[3].value > 0) {
      myLine.datasets[1].points[3].value = document.getElementById("client_cbw").value;
      myLine.scale.xLabels[3] = document.getElementById("client_date0").value;


  }



  if(document.getElementById("client_date1").value.length == '') {
      return;

    }
    
  myLine.datasets[1].points[2].value = document.getElementById("thirtywt").value;

  if (myLine.datasets[1].points[2].value > 0) {
      myLine.datasets[1].points[2].value = document.getElementById("thirtywt").value;
      myLine.scale.xLabels[2] = document.getElementById("client_date1").value;


  }

      if(document.getElementById("client_date2").value.length == '') {
      return;

    }
  myLine.datasets[1].points[1].value = document.getElementById("ninetywt").value;

  if (myLine.datasets[1].points[1].value > 0) {
      myLine.datasets[1].points[1].value = document.getElementById("ninetywt").value;
      myLine.scale.xLabels[1] = document.getElementById("client_date2").value;


  }


     if(document.getElementById("client_date3").value.length == '') {
      return;

    }
  myLine.datasets[1].points[0].value = document.getElementById("oneeightywt").value;

  if (myLine.datasets[1].points[0].value > 0) {
      myLine.datasets[1].points[0].value = document.getElementById("oneeightywt").value;
      myLine.scale.xLabels[0] = document.getElementById("client_date3").value;


  }
  myLine.update();
};



      //UltraWidget
      function widgetUsed(id, number, string) {     
        $("#" + id).prop('Counter',0).animate({
              Counter: number
          }, {
              duration: 800,
              easing: 'swing',
              step: function (now) {
                  $("#" + id).text(now.toFixed(0));
              }
          });
      };
      
      $(".w-refresh").click(function(){
        var counter = $(this).closest(".ultra-widget").data("counter");
        var counter_id = $(this).closest(".ultra-widget").attr("id");
        widgetUsed(counter_id, counter);    
      });
            function bmiused(id, number, string) {     
        $("#" + id ).prop('Counter',0).animate({
              Counter: number
          }, {
              duration: 800,
              easing: 'swing',
              step: function (now) {
                  $("#" + id).text(now.toFixed(1));
              }
          });
      };
      
      $(".w-refresh").click(function(){
        var counter = $(this).closest(".ultra-widget").data("counter");
        var counter_id = $(this).closest(".ultra-widget").attr("id");
        widgetUsed(counter_id, counter);    
      });


</script>

</body>

</html>
