  <!-- PRELOADER/SLOGAN HIDDEN-->
    <div id="preloader" class="preloader table-wrapper" style="background: white;">
      <div class="table-row">
        <div id="contente" class="contente" style="display: none">
          <div id='visiblee' class="preloader-animate">
            <p>
            </p>
            <ul id="preloader-list" style="">
              <li >_Gather.</li>
              <li >_Assess.</li>
              <li>_Comply.</li>
              <li>_Done.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <!-- BEGIN SEARCH/ADD MODAL HIDDEN-->
    <div id="searchAddModal" class="" style="display: none">
      <div style="visibility:visible;z-index:900;position: fixed; display: inline-block;top: 25%;left: 30%;height:auto;width:500px" class="table-wrapper">
        <div class="bgblur">
          <div class="table-cell text-center">
            <div class="landingfront pagenotfound">
              <div class="content-box box-shadow">
                <div class="top">
                  <h1 class="" style="margin:0.67em 0 -0.3em;">Search/Add</h1>
                  <a class="fa-stack fa-2x icon-back">
                    <i class="fa fa-circle fa-stack-2x blue"></i>
                    <i class="fa fa-long-arrow-left fa-stack-1x fa-inverse"></i>
                  </a>
                </div>
                <form class="big-box">
                  <a class="fa-stack fa-2x icon-home" style="top:52%;z-index:1500" type="submit" name="commit" value="Create Client" data-disable-with="Create Client">
                    <i class="fa fa-circle fa-stack-2x yellow"></i>
                    <i id="landsearchicon" class="fa fa-search fa-stack-1x fa-inverse"></i>
                  </a>
                  <div class="form-group">
                    <input id="select-beast-landsearch" type="search" class="gn-search form-control material" placeholder="" autofocus>
                  </div>
                  <label for="select-beast-landsearch">Name</label>
                </form>
                <div id="new-client-form-container" class="hidden-form" style="display: none; margin-top: -30px">
                  <%= form_for @client, url: clients_path, html: {id: "new-client-form", class: "content-form form-inline", remote: true} do |f| %>
                  <div  class="field-container form-group" style="dispaly: none;" >
                    <%= f.text_field :firstname, id: "new-firstname-input", type: "string", class: "inin form-control material input-lg", style: "height: 33px;padding: 0px;margin: 0px;", required: true%>
                    <%= f.label :firstName, "First Name", style: "margin: 0px;", class: "" %>
                  </div>
                  <div  class="field-container form-group" >
                    <%= f.text_field :lastname, id: "new-lastname-input", type: "string", class: "inin form-control material input-lg", style: "height: 33px;padding: 0px;margin: 0px;", required: true %>
                    <%= f.label :lastname, "Last Name", style: "margin: 0px;", class: "" %>
                  </div>
                  <div  class="field-container form-group hidden" >
                    <%= f.text_field :user_id, type: "integer", value: current_user.id, readonly: 'readonly', id: "provider-input", class: "inin form-control material input-lg", style: "height: 33px;padding: 0px;margin: 0px;", required: true %>
                    <%= f.label :provider, "Provider ID", style: "margin: 0px;", class: "" %>
                  </div>
                  <div  class="field-container form-group" >
                    <%= f.text_field :dob, id: "hiddendob", type: "text", class: "inin form-control material input-lg", style: "height: 33px;padding: 0px;margin: 0px;",required: true %>
                    <%= f.label :dob, "Date of Birth", style: "margin: 0px;", class: "" %>
                  </div>
                  <div  class="field-container form-group" >
                    <%= f.text_field :gender, id: "hiddengender", placeholder: "'Male', 'Female'",type: "string", class: "inin form-control material input-lg", style: "height: 33px;padding: 0px;margin: 0px;", required: true %>
                    <%= f.label :gender, "Gender", style: "margin: 0px;", class: "" %>
                  </div>
                  <div  class="field-container form-group" >
                    <%= f.text_field :cbw, id: "hiddencbw", type: "string", class: "inin form-control material input-lg", style: "height: 33px;padding: 0px;margin: 0px;", placeholder: "lbs",required: true %>
                    <%= f.label :cbw, "CBW", style: "margin: 0px;", class: "" %>
                  </div>
                  <div  class="field-container form-group" >
                    <%= f.text_field :ht, id: "hiddenht", type: "string", class: "inin form-control material input-lg", style: "height: 33px;padding: 0px;margin: 0px;", placeholder: "inches", required: true %>
                    <%= f.label :ht, "Height", style: "margin: 0px;", class: "" %>
                  </div>
                  <div  id="hiddensubmit">
                    <%= f.submit "Create Client", class: "btn btn-lg" %>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- HEADER -->
      <div><%= render partial: 'pages/header' %></div>
      <!-- IFRAME WHERE ALL ACTIONS TAKE PLACE  -->
      <div style="height: 100%">
      <iframe name="clientload" aria-hidden="true" id="clientload" src="/dashboard" frameborder="0" height="900px" width="100%" scrolling="no" ></iframe>
    </div>
  <script>
    var progressBar    = top.NProgress

    var currentUser    = <%= current_user.id %>
    var $currentClient = undefined // assigned on clientLoad (home-ux.js)
    var clientsJSON    = $.getJSON('/clients', data => JSON.stringify(data))

    progressBar.start()

    <% if flash[:message].present? %>
    toast('<%= raw flash[:message]["content"] %>', '#ab3737', '<%= raw flash[:message]["status"] %>')
    <% end %>
  </script>
</html>