<% title = 'DH | Log in' %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <%= stylesheet_link_tag 'ion.rangeSlider' %>
      <%= stylesheet_link_tag 'selectize' %>
      <%= stylesheet_link_tag 'jquery.dataTables' %>
      <%= stylesheet_link_tag 'selectize' %>
      <%= stylesheet_link_tag 'normalize' %>
      <%= stylesheet_link_tag 'iziToast' %>
      <%= stylesheet_link_tag 'iziModal' %>
      <%= stylesheet_link_tag 'componentPBUTTON' %>
      <%= stylesheet_link_tag 'normalizePBUTTON' %>
      <%= stylesheet_link_tag 'materialLoginForm' %>
      <%= stylesheet_link_tag 'animate.min' %>
      <!--[if IE 8]><script src="js/es5.js"></script><![endif]-->
      <%= favicon_link_tag 'favicon.ico' %>
      <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
      <!--[if lt IE 9]>
      <script src="html5shiv.min.js"></script>
      <script src="respond.min.js"></script>
      <![endif]-->
    </head>
    <body id="landingBody" class="animated fadeIn" style="background-image: url('<%= image_path('jumbotron.png')%>;display: none;">
      <%= render partial: 'pages/header' %>
      <div id="fade" class="center" style="display: none;height:100%">
        <div id="jumbotronnoblur" class="" style="width:100%;height:120%;position: absolute;background-color: #FFFFFFF">
        </div>
          <div id="jumbotronblur" class="" style="width:100%;height:120%;position: absolute;">
      </div>
      <img class="animated fadeInUp" id="jumbotronlogo" src="<%= image_path('jumbotronlogo.png')%>" alt="" style="position: absolute;top: 6em;left: 1em;width: 60%;display: none">
      <div id="slogan" style="display: none;">
      <img class="animated fadeInUp" id="sloganpng" src="<%= image_path('slogan.png')%>" alt="" style="position: absolute;display: block;width: 30%;top: 21em;left: 63em">
      </div>
      </div>
      <div id="divider1" class="col-lg-6" style="display: none;position: relative;background: #374b89;color:#FFFFFF; width:;height: 60%;padding: 3em 2em 3em 2em">
          <h1>Dietitians Reinvented.</h1>
          <h2>Dietitian.help has broken down the Medical Nutrition Therapy process in a way that will ensure that your client will receive the most accurate assessment, allowing you as healthcare provider to determine the most appropiate intervention. All while complying with regulatory bodies, e.g. Medicaid, Medicare, etc...</h2>
        </div>
        <div id="divider2" class="col-lg-6" style="display: none;height:60%;background-image: url('<%=image_path('egg.jpg')%>');background-position: 75% 75%;background-size: 100%">
          <div style="float: right;position: relative; width:100%;height: 100%;padding: 3em 2em 3em 2em">
        </div>
        </div>
      <footer>
        <div id="footer" class="col-lg-12" style="display: none;position: relative;background: #e23f3f;color: #FFFFFF; width: 150%;padding: 5em 2em 5em 2em">
          <h1>hello!</h1>
        </div>
      </footer>
      <!-- Pen Title-->
      <%= javascript_include_tag 'waves.min' %>
      <!-- BLUR BACKGROUND-->
      <%= javascript_include_tag 'jquery.foggy.min' %>
      <script>
      $('.toggle').on('click', function() {
      $('.container').stop().addClass('active');
      });
      $('.close').on('click', function() {
      $('.container').stop().removeClass('active');
      });
      //Waves effect on buttons
      Waves.attach('.waves', ['waves-float']);
      Waves.init();
      $(document).ready(function(){
        $('#fade').delay(200).show('fast');
        $('#slogan').delay(1300).fadeIn(580);
        $('#jumbotronlogo').delay(1000).fadeIn(100);
        $('#divider1').delay(1000).fadeIn(100);
        $('#divider2').delay(1000).fadeIn(100);
        $('#footer').delay(1000).fadeIn(100);
        //$('#jumbotronblur').delay(1000).fadeOut(5000);
        //$('#divider2').foggy({
          //  blurRadius: 1,          // In pixels.
        //});
        $('.alert').remove();
        $('.notice').remove();
        $('.top-clock').remove();
        $('body').show('fast');
      })
      </script>
    </body>
  </html>