<!-- START CLIENT GOALS -->
  <div id="clientGoals" class="content-box box-shadow big-box todo-list">
            <div class="sort-todo">
              <a class="all-todo" href="#">All</a>
              <a class="active-todo" href="#">Active <span class="badge yellow-bg"></span></a>
              <a class="complete-todo" href="#">Complete <span class="badge red-bg"></span></a>
              <a class="archive-todo" href="#">Archive <span class="badge green-bg"></span></a>
            </div>

              <%= form_for Goal.new, html: {id: "add_todo"} do |f| %>
              <div class="form-group add-todo">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-pencil green"></i></div>
                  <%= f.text_field :revision_date, id:"goalsDate", placeholder: "Revision Date", class: "form-control name-of-todo"%>
                  <%= f.text_field :goals, id:"goalsInput", placeholder: "Goal", class: "form-control name-of-todo"%>
                </div>
              </div>

            <div class="">
              <div class="panel-body todo">
                <ul class="list-group" style="margin: 0px">
<% if @client != nil %>
  <% @client.goals.each do |goal| %>
                  <li id="item-new9t" class="list-group-item  list-info list-item" data-toggle="tooltip" data-placement="top" title="Revision Date - <%= goal.revision_date%>"><div class="checkbox"><input type="checkbox" id="new9t" ><label for="new9t"><%= goal.goals%></label></div><div class="pull-right action-btns"><a class="archive"><span class="fa fa-archive"></span></a><a class="trash"><span class="fa fa-close"></span></a></div></li>
                  <%end %>
                  <% else%>
                  <% end %>


                </ul>
              </div>
            </div>
            <div class="checkbox clear-todo">
            <button id="clear-comp" class="btn btn-warning waves text-uppercase">Clear Completed</button>
            <% end %>

          </div>
</div>
<!-- END CLIENT GOAL -->