    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <% @goals.each do |goal| %>
  <% status = goal.status %>
    <% if status == 'active' %>
                  <li id="item-<%= goal.id%>" class="list-group-item  list-info list-item" data-toggle="tooltip" data-placement="top" title="<%= goal.revision_date%>"><div class="checkbox"><input type="checkbox" id="<%= goal.id%>" ><label for="<%= goal.id%>"><%= goal.goals%></label></div><div class="pull-right action-btns"><a class="archive" onclick="updateGoal(<%=goal.id%>, 'archived')"><span class="fa fa-archive"></span></a><a class="trash" onclick="deleteGoal(<%= goal.id%>)"><span class="fa fa-close"></span></a></div></li>
    <% elsif status == 'complete' %>
                  <li id="item-<%= goal.id%>" class="list-group-item  list-info list-item" data-toggle="tooltip" data-placement="top" title="<%= goal.revision_date%>"><div class="checkbox"><input type="checkbox" id="<%= goal.id%>" checked=true><label for="<%= goal.id%>"><%= goal.goals%></label></div><div class="pull-right action-btns"><a class="archive" onclick="updateGoal(<%=goal.id%>, 'archived')"><span class="fa fa-archive"></span></a><a class="trash" onclick="deleteGoal(<%= goal.id%>)"><span class="fa fa-close"></span></a></div></li>
    <% elsif status == 'archived' %>
     <li id="item-<%= goal.id%>" class="list-group-item  list-info ui-sortable-handle archive-item" data-toggle="tooltip" data-placement="top" title="" data-original-title="<%= goal.revision_date%>" style="display: block;"><div class="checkbox">
                    <input type="checkbox" id="<%= goal.id%>"><label for="<%= goal.id%>">hello</label></div><div class="pull-right action-btns"><a class="e" onclick="updateGoal(<%= goal.id%>, 'active')"><span class="fa fa-check"></span></a><a class="trash" onclick="deleteGoal(<%= goal.id%>)"><span class="fa fa-close"></span></a></div></li>
    <% else%>
    <% end %>
<%end %>
                


