<p id="notice"><%= notice %></p>

<p>
  <strong>Goal:</strong>
  <%= @goal.goals %>
</p>

<p>
  <strong>Client:</strong>
  <%= @goal.revision_date %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goal_path %>
