<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @goal.client %>
</p>

<p>
  <strong>Goals:</strong>
  <%= @goal.goals %>
</p>
<p>
  <strong>Revision Date:</strong>
  <%= @goal.revision_date %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
