<p id="notice"><%= notice %></p>

<p>
  <strong>Nnote:</strong>
  <%= @nextevaluationnote.nnote %>
</p>

<p>
  <strong>Client:</strong>
  <%= @nextevaluationnote.client %>
</p>

<%= link_to 'Edit', edit_nextevaluationnote_path(@nextevaluationnote) %> |
<%= link_to 'Back', nextevaluationnotes_path %>
