<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    

    <title>DIETITIAN.HELP</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag 'font-awesome' %>

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <%= stylesheet_link_tag 'selectize' %>
    <%= stylesheet_link_tag 'jquery.dataTables' %>
    <%= stylesheet_link_tag 'selectize' %>
    <%= stylesheet_link_tag 'iziToast' %>
    <%= stylesheet_link_tag 'iziModal' %>
    <%= stylesheet_link_tag 'cs-select' %>
    <%= stylesheet_link_tag 'cs-skin-underline' %>
    <%= stylesheet_link_tag 'fullcalendar' %>
    <%= stylesheet_link_tag 'animate.min' %>
    <%= stylesheet_link_tag 'nprogress' %>




    <!--[if IE 8]><script src="js/es5.js"></script><![endif]-->
    <%= favicon_link_tag 'favicon.ico' %>
    <!--[if lt IE 9]>
    <script src="html5shiv.min.js"></script>
    <script src="respond.min.js"></script>
    <![endif]-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  

  <%= yield %>
        <footer>
        <div id="footer" class="col-lg-12" style="display: none;position: relative;background: #e23f3f;color: #FFFFFF; width: 100%;padding: 5em;text-align: center">
          <div class="float-left">
            <%= image_tag('CA Logo.png', style: "height: 100px")%>
          </div>
            <h1 style="display:inline-block;text-align: center;font-size: 16px">© Carlos Almonte 2017</h1>
        </div>
      </footer>

      <!-- NOTIFICATIONS IZI-->
  <%= javascript_include_tag 'iziToast' %>
  <%= javascript_include_tag 'iziModal' %>
    <!--Selects-->
  <%= javascript_include_tag 'selectFx' %>
  <!-- PROGRESS BAR -->
  <%= javascript_include_tag 'nprogress' %>





<script>

  $(document).ready(function(){
// top.NProgress.start();

// top.NProgress.done();

top.$('#clientload').fadeIn();

// MOBILE DEVICES STOPPER
  if($(window).width() < 1250) {
    $('#mobileStopper').show();
    return
  }
    $('#mobileStopper').hide();
    return

  })





    <% if !current_user %>

// HIDES/SHOWS LOGO ON NAVBAR BEGINS 
$(window).on( "scroll", function() {
  console.log($(window).scrollTop())
      if($(window).scrollTop() > 190 && $(window).width() > 970) {
        $('#logoOnHeader').addClass('fadeInUp');
        $('#logoOnHeader').removeClass('fadeOutDownBig');
        $('#logoOnHeader').show();

      }
      else if($(window).scrollTop() < 190){
        $('#logoOnHeader').addClass('fadeOutDownBig')
        $('#logoOnHeader').removeClass('fadeInUp');

      }
    });
// HIDES/SHOWS LOGO ON NAVBAR ENDS
<%else %>
<% end %>

</script>

  </body>
</html>
